html, body {
	height:100%;
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6,p,ul,li,span,a {margin:0; padding:0;}
.container{
	height:100%;
}
.outer-wrapper{min-height:100%;display:table;width:100%;height:100%;}
.vMiddle{display:table-cell;vertical-align:middle;text-align:center;}
.top-nav ul li:first-child a
{
    position: relative;
    width: 66px;
    height: 35px;
    padding: 6px 11px;
    background: #bbbbbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.top-nav ul li:first-child a:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 5px 0;
    border-color: #bbbbbb transparent;
    display: block;
    width: 0;
    z-index: 1;
}
}
.home div.row{margin-bottom:4em;}
 .careers div.row{margin-bottom:4em;}


ul.home-menu {width:50%;margin:0 auto;}
ul.home-menu li {width:32%;display:inline-block;font-size:18px;}
ul.home-menu li a{color:#000;}
ul.home-menu li a:hover {color: #4db849;}
ul.home-menu li:first-child:hover span{color:red;}

.home h3{line-height:30px;}
.home h3 a{color: #4db849;}
.home h3 a:hover{text-decoration:none;}

.top-nav ul li{display:inline;}


@media screen and (min-width: 220px) and (max-width: 480px){
div.row {margin:0; padding:0;}
.home div.row{margin-bottom:2em;}
img.logo {width:40%;}
ul.home-menu {width:100%;margin:0 auto;}
ul.home-menu li {font-size:12px;}	
.home h3{font-size:18px;line-height:24px;}


}



.careers-heading{color: #4db849;}
.careers-description{font-size:18px;}






























.job-perks,.border{
	border:1px solid #6bc168;
	border-radius:5px;
	height:210px;
}
.perks-head{font-size:18px;}
.perks-head,.read-more, .see-all{
	background-color: #6bc168;
	color: white;
	padding: 8px 0px;
	text-align:center;
}
.read-more, .see-all{
	padding:5px 22px;
	border-radius:3px;
	font-size:16px;
}
.see-all{
	margin-right: 45px;
}


.border {
padding-top:40px;
line-height:2;
}
#map_canvas
{
height: 300px;
}	 