header {
    position: fixed;
    display: none;
    width: 100%;
   z-index:3;
    font-size: 24px;
	background-color: orange;
	
}
.section1, .about,.nav, .section2
{
min-height: 100%;
text-align: center;
padding-top: 5%;
font-size: 24px;
}
.about{
font-size: 30px;

}
.nav a, a
{
color: black;
padding: 3%;
}
.about a
{
color: #4db849;
} 
header img
{
padding:10px 300px 10px 110px;
}
.section2 nav a
{

border:1px solid black;
} 
.section2 nav a img
{
width:80px;
height:80px;
}