body
{
font-family:  'calluna_sansregular';
}
header {
    position: fixed;
    display: none;
    width: 100%;
   z-index:3;
    font-size: 24px;
	background-color: white;
	box-shadow: 5px 5px 5px #888888;
	
}
header a
{
color:black;
padding:0 15px 0 15px;
font-size: 18px;
}
.talk
{
padding:0;

}
.section1, .about,.nav, .section2
{
min-height: 100%;
text-align: center;
padding-top: 5%;
font-size: 24px;
}
.about{
font-size: 30px;

}
.nav a
{
color: black;
padding: 3%;
}
.about a 
{

color: #4db849;
} 
.post 
{
font-size: 22px;
color:#4db849;
}
.hiring{
font-size: 28px;
color: #4db849;
}
.black
{
color:#B2ADAD;
}
.underline{
text-decoration: underline;
}
.section3 p
{
font-size:24px;
}
header img
{
padding:10px 450px 10px 110px;
}
.section2 nav
{
margin-left: 85px;
}
.section2 nav img
{

box-shadow: 5px 5px 5px #888888;
border:2px solid white;
} 

.section2 nav a img
{
width:70px;
height:70px;
}

.section3
{
margin-top:150px;
text-align: center;
}
.spec{
margin-top: 200px;
}


.spec ul,.spec ul li {padding:0; margin:0; list-style:none;}
			.spec ul {width:100%;}
			.spec ul li a {float:left; width:12%;height:100px; margin:0 4%;cursor: pointer; border-radius: 50%;}

			.spec ul li:first-child a{ background: #ecf0f1 url('../images/icons.png') no-repeat -3% 50%;}
			.spec ul li:nth-child(2) a { background: #ecf0f1 url('../images/icons.png') no-repeat 23.5% 50%;}
			.spec ul li:nth-child(3) a { background: #ecf0f1 url('../images/icons.png') no-repeat 49.5% 50%;}
			.spec ul li:nth-child(4) a { background: #ecf0f1 url('../images/icons.png') no-repeat 77% 50%;}
			.spec ul li:last-child a { background: #ecf0f1 url('../images/icons.png') no-repeat 103% 50%;}

			.spec ul li:first-child a:hover{ background: #2ecc71 url('../images/icons.png') no-repeat -3% 50%;}
			.spec ul li:nth-child(2) a:hover { background: #2ecc71 url('../images/icons.png') no-repeat 23.5% 50%;}
			.spec ul li:nth-child(3) a:hover { background: #2ecc71 url('../images/icons.png') no-repeat 49.5% 50%;}
			.spec ul li:nth-child(4) a:hover { background: #2ecc71 url('../images/icons.png') no-repeat 77% 50%;}
			.spec ul li:last-child a:hover { background: #2ecc71 url('../images/icons.png') no-repeat 103% 50%;}


#section4
{
margin-top:150px;
text-align:right;
margin-bottom: 100px;
}
#map_canvas
{
width:600px;
height: 400px;
}	  
span
{
font-size: 18px;
}	 
.button
{
font-size:24px;
border: 1px solid green;
border-radius: 5px;
padding: 10px;
text-decoration: none;
color: #4db849;
line-height:4;
}
.perk-border
{
border-right: solid #B2ADAD;
border-right-width:2px;
}
hr
{
border: 1px solid #B2ADAD;
}
.small-font
{
font-size:16px;
}
footer 
{
text-align:center;

}


.postings li 
{
list-style: none;
margin-top:10px;
margin-bottom:10px;
}
.postings li , .postings a
{
width:270px;
height: 144px;
display: inline-block;
}

#designer
{
left:0;
width:270px;
background: url(../images/careers-img.png) 0 0;
}
#developer
{
left:280px;
width:270px;
background: url(../images/careers-img.png) 280px 0;
}
.postings li:hover
{
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
filter: url(../svg/grayscale.svg); /* Firefox 4+ */
filter: gray; /* IE 6-9 */
}