@media screen and (min-width: 320px) and (max-width: 481px){ 
	img.background {
        height: 100%;
    }

    .section {
        height: auto;
        padding-top: 70px;
    }

    .section h1 {
        font-size: 30px;
        margin: 18px 0 35px 0;
    }

    .section.welcome {
        height: 100%;
    }

    span.logo.glyphicon {
        margin-top: 20px;
    }
	
	
	.outerWrapper {
min-height: 480px;
}

.logo {margin-top: 4em;}
.logo img{width:25%;}
.welcome ul.topNav {
    width: 64%;
    right: 22%;
    position: absolute;
    top: 4%;
}

.welcome div.row {
    padding-bottom: 1.5em;
}

.section h3 {
    font-size: 14px;
    width: 83%;
    margin: 0 auto;
    padding: 0 0 0 5%;
}

ul.menu {width: 92%;margin: 0 auto;padding-left:5%;}
ul.menu li {width: 25%;}
ul.menu li:first-child {width: 38%;}
ul.menu li a {font-size: 14px;}

.navbar ul.topNav {
    width: 100%;
    left: 0;
    position:static;
    }

.navbar .navbar-nav.mid {
    position: inherit;
    left: 0;
    }

.pull-right {float:left !important;}
.popover h3.popover-title{width:100% !important;}

.designation ul li a{ margin:11px 0px 200px 0px;}
.designation:first-child  a { background: url('../img/result.png') no-repeat 13px 10px;width:80px;height:80px;}
.designation:nth-child(2) a { background: url('../img/result.png') no-repeat 13px -52px;width:80px;height:80px;}
.designation:nth-child(3) a  { background: url('../img/result.png') no-repeat 13px -109px;width:80px;height:80px;}
.designation:nth-child(4) a { background: url('../img/result.png') no-repeat 13px -172px;width:80px;height:80px; }
.designation:last-child a { background: url('../img/result.png') no-repeat 13px -239px;width:80px;height:80px;}
.designation:first-child  a:hover {background: url('../img/result.png') no-repeat 13px 10px;width:80px;height:80px;}
.designation:nth-child(2) a:hover {background: url('../img/result.png') no-repeat 13px -52px;width:80px;height:80px;}
.designation:nth-child(3) a:hover {background: url('../img/result.png') no-repeat 13px -109px;width:80px;height:80px;}
.designation:nth-child(4) a:hover {background: url('../img/result.png') no-repeat 13px -172px;width:80px;height:80px;}
.designation:last-child a:hover {background: url('../img/result.png') no-repeat 13px -239px;width:80px;height:80px;}


 .careers-heading h3{
font-size:16px;
}
.careers-description p{
font-size:14px;
}
.openings{padding-bottom:5px;}
.border{
margin:auto;
}
 .see-all{margin-top:10px; 
			float:right;
			margin-right: 0;}
 address{
		text-align:center;
	}
	address span {
font-size: 16px;
}
address p{
font-size: 14px;
}
	.hqbox{
		text-align:right;
	}
	.hqbox{
	width:100%;
	height:230px;
	font-size:14px;
	}
	.hq{
	margin-top:25%;
	font-size: 32px;
	padding-top: 6px;
	padding-bottom: 6px;
	}
	#map_canvas{
	width:100%;
	}
}
@media screen and (min-width: 481px) and (max-width: 767px){
.modal {
        overflow-y: hidden;
    }
.outerWrapper {
min-height: 480px;
}

.logo {margin-top: 4em;}
.logo img{width:22%;}
.welcome ul.topNav {
    width: 50%;
    right: 28%;
    position: absolute;
    top: 4%;
}

.welcome div.row {
    padding-bottom: 1.5em;
}

.section h3 {
    font-size: 18px;
    width: 83%;
    margin: 0 auto;
    padding: 0 0 0 5%;
}

ul.menu {width: 92%;margin: 0 auto;padding-left:5%;}
ul.menu li {width: 25%;}
ul.menu li:first-child {width: 38%;}
ul.menu li a {font-size: 16px;}

.navbar ul.topNav {
    width: 100%;
    left: 0;
    position:static;
    }

.navbar .navbar-nav.mid {
    position: inherit;
    left: 0;
    }

.pull-right {float:left !important;}


  .section .content {
        text-align: center;
    }

    .section.welcome {
        overflow: hidden;
        height: auto;
    }

    img.background {
        background-attachment: scroll;
        position: absolute;
    }
	.openings{padding-bottom:5px;}
.border{
margin:auto;
}
.popover h3.popover-title{width:100% !important;}
.designation ul li a{ margin:11px 0px 200px 0px;}
.designation:first-child  a { background: url('../img/result.png') no-repeat 13px 10px;width:80px;height:80px;}
.designation:nth-child(2) a { background: url('../img/result.png') no-repeat 13px -52px;width:80px;height:80px;}
.designation:nth-child(3) a  { background: url('../img/result.png') no-repeat 13px -109px;width:80px;height:80px;}
.designation:nth-child(4) a { background: url('../img/result.png') no-repeat 13px -172px;width:80px;height:80px; }
.designation:last-child a { background: url('../img/result.png') no-repeat 13px -239px;width:80px;height:80px;}
.designation:first-child  a:hover {background: url('../img/result.png') no-repeat 13px 10px;width:80px;height:80px;}
.designation:nth-child(2) a:hover {background: url('../img/result.png') no-repeat 13px -52px;width:80px;height:80px;}
.designation:nth-child(3) a:hover {background: url('../img/result.png') no-repeat 13px -109px;width:80px;height:80px;}
.designation:nth-child(4) a:hover {background: url('../img/result.png') no-repeat 13px -172px;width:80px;height:80px;}
.designation:last-child a:hover {background: url('../img/result.png') no-repeat 13px -239px;width:80px;height:80px;}

.see-all{margin-top:10px; 
			float:right;
			margin-right: 0;}
	
	#map_canvas{
	width:100%;
	}
	address{
		text-align:center;
	}
	.hqbox{
		text-align:right;
		margin-right:auto;
		margin-left:auto;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.navbar .navbar-nav li a {
        padding: 0 15px;
    }

    .navbar a.navbar-brand {
        padding-right: 5px;
    }

    .navbar .navbar-collapse.collapse {
        display: none;
    }
	
	.outerWrapper {
		min-height: 480px;
	}

	.logo {margin-top: 4em;}
	.logo img{width:25%;}
	.welcome ul.topNav {
		width: 24%;
		right: 12%;
		position: absolute;
		top: 4%;
	}

	.welcome div.row {
		padding-bottom: 1.5em;
	}

	.section h3 {
		font-size: 19px;
		width: 83%;
		margin: 0 auto;
		padding: 0 0 0 5%;
	}

	ul.menu {width: 92%;margin: 0 auto;padding-left:5%;}
	ul.menu li {width: 25%;}
	ul.menu li:first-child {width: 38%;}
	ul.menu li a {font-size: 16px;}

	.navbar ul.topNav {
		width: 100%;
		left: 0;
		position:static;
		}

	.navbar .navbar-nav.mid {
		position: inherit;
		left: 0;
		}
		
.popover h3.popover-title{width:100% !important;}
		.designation ul li a{ margin:11px 0px 200px 0px;}
.designation:first-child  a { background: url('../img/result.png') no-repeat 13px 10px;width:80px;height:80px;}
.designation:nth-child(2) a { background: url('../img/result.png') no-repeat 13px -52px;width:80px;height:80px;}
.designation:nth-child(3) a  { background: url('../img/result.png') no-repeat 13px -109px;width:80px;height:80px;}
.designation:nth-child(4) a { background: url('../img/result.png') no-repeat 13px -172px;width:80px;height:80px; }
.designation:last-child a { background: url('../img/result.png') no-repeat 13px -239px;width:80px;height:80px;}
.designation:first-child  a:hover {background: url('../img/result.png') no-repeat 13px 10px;width:80px;height:80px;}
.designation:nth-child(2) a:hover {background: url('../img/result.png') no-repeat 13px -52px;width:80px;height:80px;}
.designation:nth-child(3) a:hover {background: url('../img/result.png') no-repeat 13px -109px;width:80px;height:80px;}
.designation:nth-child(4) a:hover {background: url('../img/result.png') no-repeat 13px -172px;width:80px;height:80px;}
.designation:last-child a:hover {background: url('../img/result.png') no-repeat 13px -239px;width:80px;height:80px;}

	.pull-right {float:left !important;}
	.see-all{margin-top:10px; 
			float:right;
			margin-right: 0;}
	#map_canvas{
	width:100%;
	}
	address{
		text-align:center;
	}
	.hqbox{
		text-align:right;
		margin-right:auto;
		margin-left:auto;
	}
}
@media screen and (min-width: 992px) and (max-width: 1365px){



.logo {margin-top: 8em;}
	.logo img{width:18%;}
	.welcome ul.topNav {
		width: 20%;
		right: 12%;
		position: absolute;
		top: 4%;
	}

	.welcome div.row {
		padding-bottom: 3em;
	}
	
	.designation ul li a{ margin:11px 0px 200px 0px;}
.designation:first-child  a { background: url('../img/result.png') no-repeat 13px 10px;width:80px;height:80px;}
.designation:nth-child(2) a { background: url('../img/result.png') no-repeat 13px -52px;width:80px;height:80px;}
.designation:nth-child(3) a  { background: url('../img/result.png') no-repeat 13px -109px;width:80px;height:80px;}
.designation:nth-child(4) a { background: url('../img/result.png') no-repeat 13px -172px;width:80px;height:80px; }
.designation:last-child a { background: url('../img/result.png') no-repeat 13px -239px;width:80px;height:80px;}
.designation:first-child  a:hover {background: url('../img/result.png') no-repeat 13px 10px;width:80px;height:80px;}
.designation:nth-child(2) a:hover {background: url('../img/result.png') no-repeat 13px -52px;width:80px;height:80px;}
.designation:nth-child(3) a:hover {background: url('../img/result.png') no-repeat 13px -109px;width:80px;height:80px;}
.designation:nth-child(4) a:hover {background: url('../img/result.png') no-repeat 13px -172px;width:80px;height:80px;}
.designation:last-child a:hover {background: url('../img/result.png') no-repeat 13px -239px;width:80px;height:80px;}
	
}
@media screen and (min-width: 992px) and (max-width: 1024px){
	#map_canvas{
	width:83%;
	}
	address{
		margin-left:235px;
		width:100%;
		text-align:center;
	}
	.hqbox{
		text-align:right;
		margin-right:auto;
		margin-left:auto;
	}
}

