
@media (min-width:1024px) and (max-width:1920px) {
    .welcome ul.topNav {
        width: 18%;
        top: 10%;
        right: 10%
    }
    .welcome ul.topNav li a {
        font-size: 16px
    }
    .welcome ul.topNav li:first-child {
        width: 33%
    }
    .welcome ul.topNav li:last-child,
    .welcome ul.topNav li:nth-child(2) {
        width: 10%
    }
    .welcome ul.topNav li:first-child span {
        padding: 2.5% 15%
    }
    .welcome ul.topNav li:first-child span:after {
        left: 0
    }
    ul.menu li {
        margin: 0 2em
    }
    ul.menu li a {
        font-size: 18px
    }
    .welcome div.row {
        padding-bottom: 4em
    }
    .welcome img.mainLogo {
        width: 15%
    }
    .welcome h3 {
        font-size: 24px;
        line-height: 1.35em;
        width: 70%!important
    }
    .welcome a i:before {
        font-size: 40px
    }
    a.arrowDown {
        bottom: 7.5%;
        left: 49.25%
    }
    .navbar ul.topNav li:first-child span:after {
        left: 0;
        top: 19px!important
    }
    .team .Vmiddle {
        width: 100%
    }
    ul.empList {
        margin-bottom: 32%!important
    }
    ul.empList li {
        margin: 1.5% 1%;
        padding: 3px;
        border-radius: 4px
    }
    ul.empList li img {
        width: 80px;
        height: 80px
    }
    .tooltip {
        font-size: 16px
    }
    .tooltip-inner {
        padding: 6px 10px
    }
    .tooltip.bottom {
        margin-top: 2.5em
    }
    .designation .designation-circle {
        margin: 9px 0 20px;
        width: 100px;
        height: 100px
    }
    .designation ul li a {
        width: 70px;
        height: 70px
    }
    .designation:first-child a {
        background: url(../img/result.png) 42% -8% no-repeat;
        width: 70px;
        height: 70px
    }
    .designation:nth-child(2) a {
        background: url(../img/result.png) 45% 24% no-repeat;
        width: 70px;
        height: 50px;
        margin-top: 20px
    }
    .designation:nth-child(3) a {
        background: url(../img/result.png) 45% 76% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 10px
    }
    .designation:nth-child(4) a {
        background: url(../img/result.png) 45% 104% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 12px
    }
    .popover {
        height: 270px;
        width: 96%
    }
    h3.popover-title {
        font-size: 20px!important;
        line-height: 1.25em
    }
    .popover-content {
        padding: .75em 0 .75em 2em
    }
    .popover-content ul li {
        line-height: 1.75em;
        font-size: 16px
    }
    .careers p.info {
        font-size: 18px;
        line-height: 1.7;
        padding: 2em
    }
    .careers .row-eq-height>div[class*=col-] {
        line-height: 2
    }
    .careers .row-eq-height h3 {
        padding: .5em
    }
    .careers .row-eq-height ul {
        padding: 5% 10% 5% 15%
    }
    .careers .row-eq-height ul li,
    .row-eq-height p {
        font-size: 18px
    }
    .careers .row-eq-height span {
        padding: 25% 0
    }
    .careers .row-eq-height a {
        font-size: 16px;
        padding: .5em 1em;
        margin-top: 1em
    }
    div[class*=col-].pull-right {
        padding: 0
    }
    div[class*=col-].pull-right a {
        font-size: 16px;
        padding: .5em 1em;
        margin-top: 1.5em
    }
    .mapCanvas {
        height: 430px;
        border: 1px solid #bdc3c7
    }
    .footer p {
        line-height: 25px
    }
    .copyright {
        margin: 30px 0
    }
}

@media (min-width:992px) and (max-width:1330px) {
   /* .designation-container {
        margin-left: 12%!important;
        width: 88%
    }*/
    #bottom {
        bottom: 30px
    }
}

@media (min-width:1025px) and (max-width:1280px) {
    .welcome h3 {
        width: 55%!important
    }
    ul.empList {
        margin-bottom: 25%!important
    }
    .navbar ul.topNav li:first-child span:after,
    .welcome ul.topNav li:first-child span:after {
        left: 0!important
    }
    .popover {
        width: 85%
    }
    .careers .row-eq-height ul li,
    .row-eq-height p {
        font-size: 16px
    }
    .mapCanvas {
        height: 415px!important
    }
}

@media (min-width:1280px) and (max-width:1366px) {
    .welcome h3 {
        width: 50%!important
    }
    ul.empList {
        margin-bottom: 23.5%!important
    }
    .welcome ul.topNav li:first-child span:after {
        left: 0!important
    }
    .navbar ul.topNav li:first-child span:after {
        left: 1px!important
    }
    .popover {
        width: 75%
    }
    .mapCanvas {
        height: 420px!important
    }
}

@media (min-width:1366px) and (max-width:1440px) {
    .welcome h3 {
        width: 50%!important
    }
    ul.empList {
        margin-bottom: 23.5%!important
    }
    .navbar ul.topNav li:first-child span:after,
    .welcome ul.topNav li:first-child span:after {
        left: 0!important
    }
    .popover {
        width: 75%
    }
    .mapCanvas {
        height: 425px!important
    }
}

@media (min-width:1440px) and (max-width:1600px) {
    .welcome h3 {
        width: 45%!important
    }
    ul.empList {
        margin-bottom: 22.5%!important
    }
    .navbar ul.topNav li:first-child span:after,
    .welcome ul.topNav li:first-child span:after {
        left: 1px!important
    }
    .popover {
        width: 70%
    }
    .mapCanvas {
        height: 435px!important
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .welcome ul.topNav {
        width: 36%;
        top: 7.5%;
        right: 1%
    }
    .welcome ul.topNav li a {
        font-size: 20px
    }
    .welcome ul.topNav li:first-child {
        width: 40%
    }
    .welcome ul.topNav li:last-child,
    .welcome ul.topNav li:nth-child(2) {
        width: 20%
    }
    .welcome ul.topNav li:first-child span {
        padding: 2.5% 15%
    }
    .welcome ul.topNav li:first-child span:after {
        left: 0;
        top: 28px
    }
    ul.menu li {
        margin: 0 1.5em
    }
    ul.menu li a {
        font-size: 24px
    }
    .welcome div.row {
        padding-bottom: 4em
    }
    .welcome img.mainLogo {
        width: 35%
    }
    .welcome h3 {
        font-size: 28px;
        line-height: 1.35em;
        width: 100%
    }
    .welcome a i:before {
        font-size: 50px
    }
    a.arrowDown {
        bottom: 7.5%;
        left: 48%
    }
    .navbar a.navbar-brand {
        padding: 0 0 0 38%!important
    }
    .navbar ul.topNav li:first-child span:after {
        left: 0;
        top: 24px!important
    }
    .navbar .navbar-collapse.in {
        height: 80px!important
    }
    .navbar .navbar-nav.mid {
        left: 0!important
    }
    .navbar .navbar-nav li a {
        font-size: 18px!important
    }
    .navbar ul.topNav {
        width: 30%!important
    }
    .navbar ul.topNav li:first-child {
        width: 40%!important;
        margin-right: 5%
    }
    .navbar ul.topNav li:nth-child(2),
    .navbar ul.topNav li:nth-child(3) {
        width: 15%!important
    }
    ul.empList {
        margin-bottom: 42.5%;
        margin-top: 50px
    }
    ul.empList li {
        margin: 1.5% 2%;
        padding: 3px;
        border-radius: 4px
    }
    ul.empList li img {
        width: 75px;
        height: 75px
    }
    .tooltip {
        font-size: 16px
    }
    .tooltip-inner {
        padding: 6px 10px
    }
    .tooltip.bottom {
        margin-top: 2.5em
    }
    /*.designation-container {
        margin-left: 9%;
        margin-right: 9%
    }*/
    .designation-container>div[class*=col-sm-]:first-child,
    .designation-container>div[class*=col-sm-]:nth-child(2),
    .designation-container>div[class*=col-sm-]:nth-child(3) {
        margin-bottom: 37.5%
    }
    .designation .designation-circle {
        margin: 9px 0 20px;
        width: 100px;
        height: 100px
    }
    .designation ul li a {
        width: 70px;
        height: 70px
    }
    .designation:first-child a {
        background: url(../img/result.png) 42% -8% no-repeat;
        width: 70px;
        height: 70px
    }
    .designation:nth-child(2) a {
        background: url(../img/result.png) 45% 24% no-repeat;
        width: 70px;
        height: 50px;
        margin-top: 20px
    }
    .designation:nth-child(3) a {
        background: url(../img/result.png) 45% 76% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 10px
    }
    .designation:nth-child(4) a {
        background: url(../img/result.png) 45% 104% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 12px
    }
    .designation:first-child a:hover {
        background: url(../img/h-result.png) 42% -8% no-repeat;
        width: 70px;
        height: 70px
    }
    .designation:nth-child(2) a:hover {
        background: url(../img/h-result.png) 45% 24% no-repeat;
        width: 70px;
        height: 50px;
        margin-top: 20px
    }
    .designation:nth-child(3) a:hover {
        background: url(../img/h-result.png) 45% 76% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 10px
    }
    .designation:nth-child(4) a:hover {
        background: url(../img/h-result.png) 45% 104% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 12px
    }
    .popover {
        width: 90%;
        height: 225px
    }
    h3.popover-title {
        font-size: 16px!important;
        line-height: 1.25em
    }
    .popover-content {
        padding: .75em 0 .75em 2em
    }
    .popover-content ul li {
        line-height: 1.5em;
        font-size: 15px
    }
    a.all>.cd-timeline-block {
        margin: 3em 0 0
    }
    .cd-timeline-img {
        width: 50px;
        height: 50px;
        left: -5px
    }
    .cd-timeline-img span {
        left: 20%;
        top: 15%
    }
    .cd-timeline-content .cd-date {
        display: none
    }
    .careers h3 {
        font-size: 1.75em
    }
    .careers p.info {
        font-size: 18px;
        line-height: 2;
        padding: 1.5em 0 0
    }
    .careers .row-eq-height {
        width: 100%
    }
    .careers .row-eq-height>div[class*=col-sm-]:first-child,
    .careers .row-eq-height>div[class*=col-sm-]:nth-child(2),
    .careers .row-eq-height>div[class*=col-sm-]:nth-child(3),
    .careers .row-eq-height>div[class*=col-sm-]:nth-child(4) {
        margin-top: 1.5em
    }
    .careers .row-eq-height>div[class*=col-] {
        line-height: 2
    }
    .careers .row-eq-height h3 {
        padding: .5em
    }
    .careers .row-eq-height ul {
        padding: 5% 5% 5% 10%
    }
    .careers .row-eq-height ul li,
    .row-eq-height p {
        font-size: 18px
    }
    .careers .row-eq-height span {
        padding: 20% 0
    }
    .careers .row-eq-height a {
        font-size: 16px;
        padding: .5em 1em;
        margin-top: 1em
    }
    div[class*=col-].pull-right {
        padding: 0
    }
    div[class*=col-].pull-right a {
        font-size: 16px;
        padding: .5em 1em;
        margin-top: 1.5em
    }
    .mapCanvas {
        height: 200px;
        border: 1px solid #bdc3c7;
        margin-bottom: 1em;
        margin-top: 5em
    }
    .paddNone {
        padding: 0
    }
    address {
        width: 100%!important;
        font-size: 14px!important
    }
   /* address:last-child {
        width: 51%!important
    }*/
    address h3 {
        font-size: 18px!important
    }
    address:last-child a span:first-child {
        width: 30%!important;
        padding-top: 7.5%!important
    }
    address:last-child a span:last-child {
        width: 70%!important
    }
    .badge {
        height: 80px!important;
        width: 80px!important;
        line-height: 3.3em!important;
        font-size: 1.5em!important
    }
    .footer {
        position: relative!important;
        height: 65px;
        top: 10px
    }
}

@media only screen and (min-width:768px) {
    .cd-timeline-content h2 {
        font-size: 1.25em
    }
    .cd-timeline-content p {
        font-size: 1em
    }
    .cd-timeline-content .cd-date,
    .cd-timeline-content .cd-read-more {
        font-size: 14px;
        font-size: 1.15em;
        font-weight: 700
    }
}

@media only screen and (max-width:768px) {
    .a.all>.cd-timeline-block {
        margin: 4em 0
    }
    .cd-timeline-content img {
        width: 100%;
        padding-top: 1em
    }
    a .cd-timeline-block .cd-timeline-content {
        border-left: 4px solid #d7e4ed;
        -moz-box-shadow: 2px 3px 1px -1px #d7e4ed;
        -webkit-box-shadow: 2px 3px 1px -1px #d7e4ed;
        box-shadow: 2px 3px 1px -1px #d7e4ed
    }
    a .cd-timeline-block .cd-timeline-content::before {
        border-right-color: #d7e4ed;
        right: 100.5%
    }
    a.all:hover>.cd-timeline-block .cd-timeline-content {
        border-left: 4px solid #50b948;
        -moz-box-shadow: 2px 3px 1px -1px #d7e4ed;
        -webkit-box-shadow: 2px 3px 1px -1px #d7e4ed;
        box-shadow: 2px 3px 1px -1px #d7e4ed
    }
    a.all:hover>.cd-timeline-block .cd-timeline-content::before {
        border-right-color: #50b948;
        right: 100.5%
    }
}

@media (max-width:767px) {
    .welcome ul.topNav {
        width: 50%;
        top: 7.5%;
        right: 0
    }
    .welcome ul.topNav li a {
        font-size: 14px
    }
    .welcome h3,
    ul.menu li a {
        font-size: 16px
    }
    .welcome ul.topNav li:first-child {
        width: 20%
    }
    .welcome ul.topNav li:last-child,
    .welcome ul.topNav li:nth-child(2) {
        width: 15%
    }
    .welcome ul.topNav li:first-child span {
        padding: 2.5% 15%
    }
    .welcome ul.topNav li:first-child span:after {
        left: 0;
        top: 17px
    }
    ul.menu li {
        margin: 0 .5em
    }
    .welcome div.row {
        padding: 1.25em
    }
    .welcome img.mainLogo {
        width: 17.5%
    }
    .welcome h3 {
        line-height: 2em;
        width: 100%
    }
    .welcome a i:before {
        font-size: 28px
    }
    a.arrowDown {
        bottom: 3%;
        left: 48%
    }
    .navbar.affix {
        z-index: 9999
    }
    .navbar a.navbar-brand {
        padding: 0 0 0 5%
    }
    .navbar-nav {
        margin: 0
    }
    .navbar ul.topNav {
        width: 70%;
        margin-left: 12%;
        position: static
    }
    .navbar ul.topNav.pull-right {
        float: left!important
    }
    .navbar .navbar-nav li a {
        margin: 10px auto;
        font-size: 14px
    }
    .navbar .navbar-nav.mid {
        position: inherit;
        left: 0
    }
    .navbar ul.topNav li:first-child span:after {
        left: -1px;
        top: 28px
    }
    .team .Vmiddle {
        margin-top: 80px
    }
    ul.empList {
        margin-bottom: 15%
    }
    ul.empList li {
        margin: 1.5% .5% 5%;
        padding: 3px;
        border-radius: 4px
    }
    ul.empList li img {
        width: 65px;
        height: 65px
    }
    .tooltip {
        font-size: 14px
    }
    .tooltip-inner {
        padding: 4px 5px
    }
    .tooltip.bottom {
        margin-top: 2em
    }
    .tooltip.bottom .tooltip-arrow {
        top: -3px
    }
    .designation-container {
        margin-left: 9%;
        margin-right: 9%
    }
    .designation .designation-circle {
        margin: 5px 0 200px;
        width: 100px;
        height: 100px
    }
    .designation:first-child {
        margin-top: 150px
    }
    .designation:last-child .designation-circle {
        margin-bottom: 30px
    }
    .designation ul li a {
        width: 70px;
        height: 70px
    }
    .designation:first-child a {
        background: url(../img/result.png) 42% -8% no-repeat;
        width: 70px;
        height: 70px
    }
    .designation:nth-child(2) a {
        background: url(../img/result.png) 45% 24% no-repeat;
        width: 70px;
        height: 50px;
        margin-top: 20px
    }
    .designation:nth-child(3) a {
        background: url(../img/result.png) 45% 76% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 10px
    }
    .designation:nth-child(4) a {
        background: url(../img/result.png) 45% 104% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 12px
    }
    .designation:first-child a:hover {
        background: url(../img/h-result.png) 42% -8% no-repeat;
        width: 70px;
        height: 70px
    }
    .designation:nth-child(2) a:hover {
        background: url(../img/h-result.png) 45% 24% no-repeat;
        width: 70px;
        height: 50px;
        margin-top: 20px
    }
    .designation:nth-child(3) a:hover {
        background: url(../img/h-result.png) 45% 76% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 10px
    }
    .designation:nth-child(4) a:hover {
        background: url(../img/h-result.png) 45% 104% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 12px
    }
    .popover {
        width: 96%;
        height: 180px
    }
    h3.popover-title {
        font-size: 14px!important;
        line-height: 1.25em;
        padding: 5px
    }
    .popover-content {
        padding: .75em 0 .75em 2em
    }
    .popover-content ul li {
        line-height: 1.5em;
        font-size: 12.5px
    }
    .cd-timeline-content h2 {
        font-size: 13px;
        font-weight: 700
    }
    .cd-timeline-content p {
        font-size: 12px
    }
    .cd-timeline-content .cd-date {
        display: none !important;
    }
    .cd-timeline-img span {
        font-size: 12px !important;
        left: 15% !important;
    }
    .careers .Vmiddle {
        margin-top: 80px
    }
    .careers h3 {
        font-size: 18px
    }
    .careers p.info {
        font-size: 14px;
        line-height: 1.7;
        padding: 1.5em
    }
    .careers .row-eq-height {
        display: table;
        width: 100%
    }
    .careers .row-eq-height>div[class*=col-xs-]:last-child {
        border: none;
        margin-bottom: 0
    }
    .careers .row-eq-height>div[class*=col-] {
        line-height: 1.5;
        margin: 0 0 1em
    }
    .careers .row-eq-height>div[class*=col-]:first-child {
        margin-top: 0
    }
    .careers .row-eq-height h3 {
        padding: .5em;
        font-size: 16px
    }
    .careers .row-eq-height ul {
        padding: 5% 5% 5% 10%
    }
    .careers .row-eq-height ul li,
    .row-eq-height p {
        font-size: 14px
    }
    .careers .row-eq-height span {
        padding: 10% 0
    }
    .careers .row-eq-height a {
        font-size: 14px;
        padding: .5em 1em;
        margin-top: 1em
    }
    div[class*=col-].pull-right {
        padding: 0;
        float: none!important;
        text-align: center;
        margin: 0 auto
    }
    div[class*=col-].pull-right a {
        font-size: 16px;
        padding: .5em 1em;
        margin-top: 1.5em
    }
    .mapCanvas {
        height: 200px;
        border: 1px solid #bdc3c7;
        margin-bottom: 1em;
        margin-top: 5em
    }
    .paddNone {
        padding: 0
    }
    address {
        width: 100%!important;
        font-size: 14px!important
    }
    address:last-child,
    address:last-child a span:last-child {
        width: 70%!important
    }
    address h3 {
        font-size: 18px!important
    }
    address:last-child a span:first-child {
        width: 30%!important;
        padding-top: 7.5%!important
    }
    .badge {
        height: 80px!important;
        width: 80px!important;
        line-height: 3.3em!important;
        font-size: 1.5em!important
    }
    .footer {
        position: relative!important;
        height: 65px;
        top: 10px
    }
}

@media (max-width:480px) {
    .welcome ul.topNav li a,
    ul.menu li a {
        font-size: 14px
    }
    .welcome ul.topNav {
        width: 50%;
        top: 7.5%;
        right: 0
    }
    .welcome ul.topNav li:first-child {
        width: 20%
    }
    .welcome ul.topNav li:last-child,
    .welcome ul.topNav li:nth-child(2) {
        width: 15%
    }
    .welcome ul.topNav li:first-child span {
        padding: 2.5% 15%
    }
    .welcome ul.topNav li:first-child span:after {
        left: 0;
        top: 17px
    }
    ul.menu {
        width: 100%
    }
    ul.menu li {
        margin: 0 .25em
    }
    .welcome div.row {
        padding: 1em 0
    }
    .welcome img.mainLogo {
        width: 45%
    }
    .welcome h3 {
        font-size: 16px;
        line-height: 1.5em;
        width: 100%
    }
    .welcome a i:before {
        font-size: 28px
    }
    a.arrowDown {
        bottom: 3%;
        left: 48%
    }
    .navbar.affix {
        z-index: 9999
    }
    .navbar a.navbar-brand {
        padding: 0 0 0 5%
    }
    .navbar-nav {
        margin: 0
    }
    .navbar ul.topNav {
        width: 70%;
        margin-left: 12%;
        position: static
    }
    .navbar ul.topNav.pull-right {
        float: left!important
    }
    .navbar .navbar-nav li a {
        margin: 10px auto;
        font-size: 14px
    }
    .navbar .navbar-nav.mid {
        position: inherit;
        left: 0
    }
    .navbar ul.topNav li:first-child span:after {
        left: 0;
        top: 28px
    }
    .team .Vmiddle {
        margin-top: 80px
    }
    ul.empList {
        margin-bottom: 25%
    }
    ul.empList li {
        margin: 1.5% .25% 5%;
        border-radius: 4px
    }
    ul.empList li img {
        width: 60px;
        height: 60px
    }
    .tooltip {
        font-size: 14px
    }
    .tooltip-inner {
        padding: 4px 5px
    }
    .tooltip.bottom {
        margin-top: 2em
    }
    .tooltip.bottom .tooltip-arrow {
        top: -3px
    }
    .designation-container {
        margin-left: 9%;
        margin-right: 9%
    }
    .designation .designation-circle {
        margin: 5px 0 200px;
        width: 100px;
        height: 100px
    }
    .designation:first-child {
        margin-top: 150px
    }
    .designation:last-child .designation-circle {
        margin-bottom: 30px
    }
    .designation ul li a {
        width: 70px;
        height: 70px
    }
    .designation:first-child a {
        background: url(../img/result.png) 42% -8% no-repeat;
        width: 70px;
        height: 70px
    }
    .designation:nth-child(2) a {
        background: url(../img/result.png) 45% 24% no-repeat;
        width: 70px;
        height: 50px;
        margin-top: 20px
    }
    .designation:nth-child(3) a {
        background: url(../img/result.png) 45% 76% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 10px
    }
    .designation:nth-child(4) a {
        background: url(../img/result.png) 45% 104% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 12px
    }
    .designation:first-child a:hover {
        background: url(../img/h-result.png) 42% -8% no-repeat;
        width: 70px;
        height: 70px
    }
    .designation:nth-child(2) a:hover {
        background: url(../img/h-result.png) 45% 24% no-repeat;
        width: 70px;
        height: 50px;
        margin-top: 20px
    }
    .designation:nth-child(3) a:hover {
        background: url(../img/h-result.png) 45% 76% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 10px
    }
    .designation:nth-child(4) a:hover {
        background: url(../img/h-result.png) 45% 104% no-repeat;
        width: 70px;
        height: 70px;
        margin-top: 12px
    }
    .popover {
        width: 60%;
        height: 180px
    }
    h3.popover-title {
        font-size: 14px!important;
        line-height: 1.25em;
        padding: 5px
    }
    .popover-content {
        padding: .75em 0 .75em 2em
    }
    .popover-content ul li {
        line-height: 1.5em;
        font-size: 12.5px
    }
    .cd-timeline-content h2 {
        font-size: 13px;
        font-weight: 700
    }
    .cd-timeline-content p {
        font-size: 12px
    }
    .cd-timeline-content .cd-date {
        display: none !important;
    }
    .cd-timeline-img span {
        font-size: 12px;
        left: 17%
    }
    .careers .Vmiddle {
        margin-top: 80px
    }
    .careers h3 {
        font-size: 18px
    }
    .careers p.info {
        font-size: 13.5px;
        line-height: 1.7;
        padding: 1.5em 0
    }
    .careers .row-eq-height {
        display: table;
        width: 100%
    }
    address,
    address:last-child {
        width: 100%!important
    }
    .careers .row-eq-height>div[class*=col-xs-]:last-child {
        border: none
    }
    .careers .row-eq-height>div[class*=col-] {
        line-height: 1.5;
        margin: 0 0 1em
    }
    .careers .row-eq-height>div[class*=col-]:first-child {
        margin-top: 0
    }
    .careers .row-eq-height h3 {
        padding: .5em;
        font-size: 16px
    }
    .careers .row-eq-height ul {
        padding: 5% 5% 5% 10%
    }
    .careers .row-eq-height ul li,
    .row-eq-height p {
        font-size: 14px
    }
    .careers .row-eq-height span {
        padding: 10% 0
    }
    .careers .row-eq-height a {
        font-size: 14px;
        padding: .5em;
        margin-top: 1em
    }
    div[class*=col-].pull-right {
        padding: 0;
        float: none!important;
        text-align: center;
        margin: 0 auto
    }
    div[class*=col-].pull-right a {
        font-size: 16px;
        padding: .5em 1em;
        margin-top: 0
    }
    .mapCanvas {
        height: 200px;
        border: 1px solid #bdc3c7;
        margin-bottom: 1em;
        margin-top: 5em
    }
    .paddNone {
        padding: 0
    }
    address {
        font-size: 14px!important
    }
    address h3 {
        font-size: 18px!important
    }
    address:last-child a span:first-child {
        width: 30%!important;
        padding-top: 13%!important
    }
    address:last-child a span:last-child {
        width: 70%!important
    }
    .badge {
        height: 60px!important;
        width: 60px!important;
        line-height: 2.3em!important;
        font-size: 1.5em!important
    }
    .footer {
        position: relative!important;
        height: 65px;
        top: 10px
    }
}