html,body {
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    height: 100%;
    
    color:#000;
}
div.row{margin-right:0px; margin-left:0px;}
body::-webkit-scrollbar {
  width: 4px;
  height: 0.5em;
  background: #f1f1f1;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: rgba(52, 73, 94, 0.5);
  height: 50px;
}

.clearfix {
    clear: both;
}

.affix {
    top: 50px;
}

.fixed-container {
    margin-left: 5%;
    margin-right: 5%;
}

.fixed-container.full {
    margin: 0;
}

.fixed-container .row [class^='col-md-'] {
    margin-bottom: 50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

a, a:focus,a:active,a img,a img:hover,a img:focus,button:focus,button.btn:focus {
    outline:none;
    cursor:pointer !important;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}

h1 {
    display: inline-block;
    margin: 0 0 30px 0;
    font-size: 30px;
    padding-bottom: 5px;
}

h1:hover {
    border-color: #72a329;
}

hr {
    border-color: #999;
    margin: 10px 0;
}

a {
    color: #6bc168;
}

a:hover {
    color: #B7E1B6;
	text-decoration: none;
}

.italic {
    font-style: italic;
}


::selection {
  background: #e97141;
  color: #ffffff;
}
::moz-selection {
  background: #e97141;
  color: #ffffff;
}
::webkit-selection {
  background: #e97141;
  color: #ffffff;
}


.row {
    -webkit-transition: top 400ms;
    -moz-transition: top 400ms;
    -o-transition: top 400ms;
    transition: top 400ms;
}
/* home page style */
.outerWrapper {position:absolute;left:0;display:table;min-height:900px;width:100%;}
.vMiddle {display:table-cell;vertical-align:middle;}

.welcome ul.topNav {width:18%;right:4%;position:absolute;padding-top:52px;}
.welcome ul.topNav li {display:inline-table;text-align:center;}
.welcome ul.topNav li a {color:#000;font-size:20px;}

.welcome ul.topNav li:first-child {width:33%;}
.welcome ul.topNav li:nth-child(2) {width:10%;}
.welcome ul.topNav li:last-child {width:10%;}
.welcome ul.topNav li a:hover {color:#4db849;}
.welcome ul.topNav li:first-child span {position: relative;text-align: center; background:#bdc3c7; width:100%;padding:2.5% 15%;color:#fff;font-size:16px;}
.welcome ul.topNav li:first-child span:after {content:'';position:absolute;width:0;height:0;left:0px;top:25px;border:6px solid;border-color:#bdc3c7 transparent transparent #bdc3c7;}
.welcome ul.topNav li:first-child a:hover span {background:#6bc168;}
.welcome ul.topNav li:first-child a:hover span:after {border-color: #6bc168 transparent transparent #6bc168;}

ul.menu {width:100%; margin:0 auto;margin-bottom:56px;}
ul.menu li {display:inline-table;width:25%;text-align:center;}
ul.menu li a {color:#000; font-size: 24px;}

ul.menu li a:hover {color:#4db849;}
ul.menu li a:hover span {color:#e74c3c;}

.opacity-green a:hover{color:#6bc168; opacity:0.5;}
.welcome a i:before {color:#000;}
.welcome a i:hover:before {color:#4db849;}

.home{display:table;
width:100%;}
.home h3 {line-height: 3em;letter-spacing:.5px; color:#000;}
.home h3 a {color:#4db849;}
.home h3 a:hover {text-decoration:none;}

.container{display:table-cell;
vertical-align:middle;}
.scroll-down i {
    display: block;
    font-size: 40px;
    font-weight: normal;
    margin-top: 15px;
	margin-bottom:10px;
    color: rgba(255,255,255,.9);
}

.welcome span.logo.glyphicon-leaf {
    padding-top: 20px;
    font-size: 44px;
}
.home-logo{
margin-bottom:68px;}
.home-description h3{font-size:24px !important;width:50%; margin:0 auto;}

/*home page style end*/


/*team page style*/

ul.empList {width:100%; margin-bottom:220px;}
ul.empList li {display:inline-block;text-align:center;margin:1.5%;padding:3px;background:#fff; border-radius: 4px; }
ul.empList li img:hover {width:60px;height:60px;border:2px solid #6bc168;}
.image-border{border: 2px solid #6bc168;}
ul.empList li img {width:60px;height:60px;}

.tooltip {font-size: 15px; }
.tooltip-inner {background:#6bc168;padding: 6px 10px;}
.tooltip.bottom .tooltip-arrow {border-bottom-color:#6bc168;}

.popover {border-radius: 0; border:2px solid #bdc3c7;padding:0;width: 70%;}
h3.popover-title {border-radius: 0;background:#bdc3c7;color:#fff !important; font-size: 16px !important;}
.popover-content{padding: 9px 5px 9px 22px!important;}.popover-content ul{list-style-type:disc;text-align:left;}
.circle img {border-radius: 50%; width:80px;height:80px;}

.tooltip.top {
    margin-top: -5px;
}

#services .tooltip.top {
    margin-top: 10px;
}

.btn {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    margin: 0 10px 10px 10px;
    text-shadow: none;
    box-shadow: none;
    background: none;
    border: 2px solid rgba(255,255,255,.6);
    color: rgba(255,255,255,.8);
    background-color: transparent;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: .3s;
    transition: .3s;
}
.india{color:#4db849!important;text-decoration:underline;}
.india:hover{color:#4db849!important;text-decoration:underline;}
#navbar .india:hover{color:#4db849!important;text-decoration:underline;}
.btn:hover {
    border-color: #fff;
    color: #fff;
}

.btn:active {
    top: 2px;
}

.btn.active {
    background-color: rgba(0,0,0,.1);
    border-color: #fff;
    color: #fff;
}

.btn:focus {
    color: #fff;
    outline: none;
}

input,textarea,input.form-control,textarea.form-control,input.form-control:focus,textarea.form-control:focus {
    outline: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-color: #d0d0d0;
}

form .btn {
    margin-left: 0;
    margin-right: 0;
}

label {
    font-weight: normal;
}

.form-control:focus {
    box-shadow: none;
    border-color: #777;
}

.row .empty[class^='col-md-'] {
    margin-bottom: 0;
}

.modal {
}

.modal .wrapper {
    margin: 3% auto;
    width: auto;
    max-width: 70%;
    max-height: 85%;
}

.modal img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}

.modal h4 {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.modal a {
    color: #fff;
}

body.modal-open,.modal-open .navbar-fixed-top {
    margin-right: 0;
}


.navbar {background-color: #fff;border: none;top: -100px;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.navbar-header {margin: 0;}
.navbar.affix-top,.navbar.affix {position: fixed;left: 0;right: 0;-webkit-transition: .4s;transition: .4s;}
.navbar.affix-top {top: -70px;}
.navbar.affix {top: 0;}
.navbar span.glyphicon,.navbar i {font-size: 13px;margin-right: 15px;}
.navbar i {font-size: 15px;}
.navbar a.navbar-brand {font-size: 30px;line-height: 70px;font-weight: normal;color: #6bc168;padding: 0 30px 0 0;-webkit-transition: .4s;transition: .4s;}
.navbar a.navbar-brand span.glyphicon {top: 4px;font-size: 28px;}
.navbar a.navbar-brand:hover,.navbar a.navbar-brand:focus {color: #edc80e;}
.navbar .navbar-toggle {outline: none;border-color: transparent;margin: 20px 0 0 0;padding: 0;}
.navbar .navbar-toggle:active,.navbar .navbar-toggle:visited,.navbar .navbar-toggle:focus,.navbar .navbar-toggle:hover {background-color: transparent;}
.navbar .navbar-toggle span.icon-bar {background-color: #999;height: 3px;margin: 4px 0;}
.navbar .navbar-toggle:hover span.icon-bar {background-color: #444;}
.navbar .navbar-collapse {border-color: #ddd;max-height: 400px;}
.navbar .navbar-nav.mid  {position: absolute;left: 37%;}
.navbar .navbar-nav li a {margin: 20px 5px;color: #000;height: 30px;line-height: 30px;padding: 0 20px;font-weight: 500;font-size: 16px;transition: background-color .2s;-webkit-transition: background-color .2s;}
.navbar .navbar-nav li a:hover {color:#4db849;}
.navbar .navbar-nav li.dropdown.open a.dropdown-toggle {background-color: #bbb;}
.navbar .navbar-nav ul.dropdown-menu {border-radius: 0;border: 0 solid #999;border-top: 1px solid #999;}
.navbar .navbar-collapse.in ul.dropdown-menu {border-top: none;}
.navbar .navbar-collapse.in ul.dropdown-menu li a:hover {color: #ccc;}
.navbar .navbar-nav li.active a,.navbar .navbar-nav li.active a:hover {background:none;text-decoration: underline;color:#4db849;}
.navbar .navbar-nav li.active a span,.navbar .navbar-nav li.active a:hover span {background:none;color:#e74c3c;}
.navbar .navbar-nav li a:hover span {background:none;color:#e74c3c;}
.navbar ul.topNav {width:18%;right:0;position:absolute;}
.navbar ul.topNav li {display:inline-table;text-align:center;}
.navbar ul.topNav li a {color:#000;font-size:16px; padding:0;}
.navbar ul.topNav li:first-child {width:33%;}
.navbar ul.topNav li:nth-child(2) {width:10%;}
.navbar ul.topNav li:last-child {width:10%;}
.navbar ul.topNav li a:hover {color:#4db849;}
.navbar ul.topNav li:first-child span {position: relative;text-align: center; background:#bdc3c7; width:100%;padding:2.5% 15%;color:#fff;}
.navbar ul.topNav li:first-child span:after {content:'';position:absolute;width:0;height:0;left:0px;top:24px;border:6px solid;border-color:#bdc3c7 transparent transparent #bdc3c7;}
.navbar ul.topNav li:first-child a:hover span {background:#4db849;}
.navbar ul.topNav li:first-child a:hover span:after {border-color: #4db849 transparent transparent #4db849;}
.navbar ul.topNav li:nth-child(3){line-height: 5;}
.empList a{display:inline-block;height:60px;}
	


.section {position: relative;min-height: 100%;z-index: 1;padding-top: 105px;transition: background-color 1s;-webkit-transition: background-color 1s;}
.section.white {background: none;}
.section.white a.btn {color: #777;border-color: #666;}
.section.white a.btn:hover {top: 0;color: #bbb;border-color: #bbb;}
.section.white a.btn.active {color: #dfba00;border-color: #edc80e;box-shadow: none;background-color: transparent;}
.section.welcome {padding-top: 0;}
.section.welcome .content, .section.image .content, .section.welcome .content, .section.white .content {text-align: center;}
img.background {width: auto;min-width: 100%;min-height: 100%;position: fixed;z-index: -1;}
.section h3 {display: block;text-align: center;font-size: 30px;color: #000;line-height: 1.7em;}
.section:last-child {background-color: #fff;}
.section .content.affix {width: 90%;}

.fixed-container.full .content.affix {width: 100%;}

.designation ul, .designation ul li{padding:0; margin:0;}
.designation ul{width:100%;}

.designation .designation-circle{display: inline-block; margin:9px 0px 20px 0px;cursor: pointer; border:1px solid #6bc168; border-radius:50%;width:80px;height:80px;}
.designation ul li:hover + .popover h3{ background: #6bc168;}
.designation ul li:hover + .popover { border: solid 2px #6bc168;}
.designation ul li:hover + .popover.top .arrow{border-top-color:#6bc168 !important;}
.designation ul li:hover + .popover.top .arrow:after{border-bottom-width:2px!important;}
.designation-circle:hover {background:#6bc168;}
.designation-background {background: #6bc168 !important;}
.designation-border {border: solid 2px #6bc168;}
.designation-arrow-color{border-top-color:#6bc168 !important;}
.designation-arrow-size{border-bottom-width:2px!important;}
.designation-span-background {background: #6bc168; z-index: -1; position: relative; !important;}

.designation ul li a{display:inline-block;width:70px; height:70px;}
.designation:first-child  a { background: url('../img/result.png') no-repeat 10px 10px;width:70px;height:70px;}
.designation:nth-child(2) a { background: url('../img/result.png') no-repeat 10px -53px;width:70px;height:70px;}
.designation:nth-child(3) a  { background: url('../img/result.png') no-repeat 10px -109px;width:70px;height:70px;}
.designation:nth-child(4) a { background: url('../img/result.png') no-repeat 10px -173px;width:70px;height:70px; }
.designation:last-child a { background: url('../img/result.png') no-repeat 10px -239px;width:70px;height:70px;}
.designation:first-child  a:hover {background: url('../img/result.png') no-repeat 10px 10px;width:70px;height:70px;}
.designation:nth-child(2) a:hover {background: url('../img/result.png') no-repeat 10px -53px;width:70px;height:70px;}
.designation:nth-child(3) a:hover {background: url('../img/result.png') no-repeat 10px -109px;width:70px;height:70px;}
.designation:nth-child(4) a:hover {background: url('../img/result.png') no-repeat 10px -173px;width:70px;height:70px;}
.designation:last-child a:hover {background: url('../img/result.png') no-repeat 10px -239px;width:70px;height:70px;}
.team{display:table;width:100%;}
.team .fixed-container{display:table-cell;vertical-align:middle;}


/*team page style ends*/



/* career page style*/
.careers-heading h3{color:#4db849;}
.careers-description{font-size:18px; padding-top:40px;padding-bottom:40px;line-height:1.7;}
.career{display:table;width:100%;}
.career .fixed-container{display:table-cell;vertical-align:middle;}
.border {padding-top:40px;line-height:2;height:226px;width:166px;}
.job-perks,.border{border:1px solid #6bc168;height:226px;font-size:16px;font-weight:600;}
.perks{line-height:1.8;padding-top:15px;}
.perks ul {list-style-type:disc;padding-left:25px;text-align:left;padding-top:7px;}
.perks-head{font-size:18px;}
.perks-head,.read-more, .see-all{background-color: #6bc168;color: white;padding: 8px 0px;text-align:center;}
.read-more, .see-all{padding:5px 22px;font-size:16px;}
.see-all{float:center;padding:5px 45px;}
.border p{margin-bottom:24px;}
.button-primary{float:right;}
/*career page style ends */




/*contact page style*/
#map_canvas{height:427px;border:1px solid #bdc3c7;}	
address{text-align:right;font-size: 16px;line-height:1.5;}
address span{font-size:20px;}
address a{text-decoration:none;color:black;}
address a:hover{color:black;}
.hqbox{float:right;}
.hqbox , .hqbox a{border:1px solid #4db849;width:262px;background:#4db849;color:white;line-height:1.5;}
.addressus{margin-right:7px;padding-top:9px;padding-bottom:9px;}
.addressus a:hover{color:white;}
.hqaddr{margin-bottom:0 !important;text-align:right;}
.hq , .hqcircle,.hqbox{margin:0;padding:0;}
.hq p{color:#6bc168;font-size: 40px;padding-top:8px;}
.hqcircle{width: 80px;
height: 80px;
border: 1px solid;
border-radius: 50%;
text-align: center;
margin-top: 30px;
margin-left: 7px;
color:#6bc168;}
.contactUs{display:table;width:85%;margin-right:auto;margin-left:auto;}
.contactUs .fixed-container{display:table-cell;vertical-align:middle;}
.footer {color: #95a5a6;overflow: hidden;position: relative;background-color:white;z-index: 1;}
.footer p a {color: #95a5a6; text-decoration:underline;}
.footer p a:hover {color: #4db849;}
.footer p {line-height: 25px;}
.copyright {margin: 30px 0;width: 100%;text-align: center;}
/*contact style ends */

