$transparent: transparent;
$white: #fff;
$black: #000;
$active-menu: #f44336;
$theme-green: #7cc48d;
$grey: #888;
$light-grey: #777;
$black-14: rgba(0, 0, 0, .14);
$black-12: rgba(0, 0, 0, .12);
$black-2: rgba(0, 0, 0, .2);

$important: !important;

%overlay {
  bottom: 5px;
  font-size: 38px;
  font-weight: 300;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}
