$transparent: transparent;
$white: #fff;
$black: #000;
$active-menu: #f44336;
$theme-green: #7cc48d;
$theme-blue: #0156a4;
$gray: #ddd;
$grey: #888;
$light-grey: #777;
$footer-bg: #fcfcff;
$sky-blue: #f1fbf4;
$black-14: rgba(0, 0, 0, .14);
$black-12: rgba(0, 0, 0, .12);
$black-2: rgba(0, 0, 0, .2);

$important: !important;

%overlay {
  bottom: 5px;
  font-size: 38px;
  font-weight: 300;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

%center-wrapper {
  bottom: auto;
  left: 50%;
  max-height: calc(100% - 100px);
  position: absolute;
  right: auto;
  top: 50%;
  transform: translate(-50%, -50%);
}


@-webkit-keyframes bounce {
	0%, 20%, 60%, 100% { -webkit-transform: translateY(0);}
  40% { -webkit-transform: translateY(-20px);}
	80% { -webkit-transform: translateY(-10px);}
}
