//color
$white-color: #fff;
$green-color:#7cc48d;
$blue-color:#1d579d;
$black-color:#000;
$grey-color:#555;
$light-grey-color:#777;
$light-green-color:#F1FBF4;
$line-color:#ccc;



//font-size
$font-24:24px;
$font-20:20px;
$font-18:18px;
$font-16:16px;
$font-14:14px;
$font-60:60px;


//padding

$padding-5:5%;


//margin

$margin-5: 5%;