@import "variable.less";
@import "mixins.less";
/*desktop mediaQuery*/

@media screen and (min-width:1024*@widthPx) {

/* Home */

.welcome ul.topNav{
	.width-percentage(18);
	top:10*@percentage;
	right:10*@percentage;
}
.welcome ul.topNav li a{
	font-size:16*@pixel;
}
.welcome ul.topNav li:first-child{
	.width-percentage(33);
}
.welcome ul.topNav li:nth-child(2){
	.width-percentage(10);
}
.welcome ul.topNav li:last-child{
	.width-percentage(10);
}
.welcome ul.topNav li:first-child span{
	padding:2*@paddingPt+@paddingPt/2 15*@paddingPt;
}
.welcome ul.topNav li:first-child span:after{
	left:0;
}

ul.menu li{
	margin: 0 2*@marginEm;
}
ul.menu li a{
	font-size:18*@pixel;
}

.welcome div.row{
	padding-bottom:4*@paddingEm;
}
.welcome img.mainLogo{
	.width-percentage(15);
}
.welcome h3{
	font-size:24*@pixel;
	line-height:1*@em+7*@em/20;
}
.welcome a i:before{
	font-size:40*@pixel;
}

a.arrowDown{
	bottom:7*@percentage+@percentage/2;
	left:49*@percentage+@percentage/4;
}

.navbar ul.topNav li:first-child span:after{
	left:1*@pixel;
}

/* Team */

.team .Vmiddle{
	.width-percentage(100);
}

ul.empList{
	margin-bottom:30*@marginPt !important;
}
ul.empList li{
	margin:@marginPt+@marginPt/2 @marginPt;
	padding:3*@paddingPx;
	border-radius:4*@pixel;
}
ul.empList li img{
	width:80*@widthPx;
	height:80*@heightPx;
}

.tooltip{
	font-size:16*@pixel;
}
.tooltip-inner{
	padding:6*@paddingPx 10*@paddingPx;
}
.tooltip.bottom{
	margin-top:2*@marginEm+@marginEm/2;
}

.designation .designation-circle{
	margin:9*@marginPx 0 20*@marginPx 0;
	width:100*@widthPx;
	height:100*@heightPx;
}

.designation ul li a{
	width:70*@widthPx;
	height:70*@heightPx;
}
.sprite-style;

.designation
{
	&:first-child > ul li div.designation-circle:hover  a   	
	{
		background:url('../img/h-result.png') no-repeat 42*@percentage -8*@percentage; 
		width:70*@widthPx;
		height:70*@heightPx;
	}
	&:nth-child(2) > ul li div.designation-circle:hover  a  	
	{
		background:url('../img/h-result.png') no-repeat 45*@percentage 24*@percentage;
		width:70*@widthPx;
		height:50*@heightPx;
		margin-top:20*@marginPx;
	}
	&:nth-child(3) > ul li div.designation-circle:hover a   	
	{
		background:url('../img/h-result.png') no-repeat 45*@percentage 48*@percentage;
		width:70*@widthPx;
		height:80*@heightPx;
		margin-top: 3*@marginPx;
	}
	&:nth-child(4) > ul li div.designation-circle:hover a   	
	{
		background:url('../img/h-result.png') no-repeat 45*@percentage 76*@percentage;
		width:70*@widthPx;
		height:70*@heightPx;
		margin-top: 10*@marginPx;
	}
	&:last-child > ul li div.designation-circle:hover a     	
	{
		background:url('../img/h-result.png') no-repeat 45*@percentage 104*@percentage;
		width:70*@widthPx;
		height:70*@heightPx;
		margin-top: 12*@marginPx;
	}
	&:first-child > ul li div.designation-circle.designation-span-background  a 
	{
		background:url('../img/h-result.png') no-repeat 42*@percentage -8*@percentage; 
		width:70*@widthPx;
		height:70*@heightPx;
	}
	&:nth-child(2) > ul li div.designation-circle.designation-span-background a
	{
		background:url('../img/h-result.png') no-repeat 45*@percentage 24*@percentage;
		width:70*@widthPx;
		height:50*@heightPx;
		margin-top:20*@marginPx;
	}
	&:nth-child(3) > ul li div.designation-circle.designation-span-background a 
	{
		background:url('../img/h-result.png') no-repeat 45*@percentage 48*@percentage;
		width:70*@widthPx;
		height:80*@heightPx;
		margin-top: 3*@marginPx;
	}
	&:nth-child(4) > ul li div.designation-circle.designation-span-background a 
	{
		background:url('../img/h-result.png') no-repeat 45*@percentage 76*@percentage;
		width:70*@widthPx;
		height:70*@heightPx;
		margin-top: 10*@marginPx;
	}
	&:last-child > ul li div.designation-circle.designation-span-background a   
	{
		background:url('../img/h-result.png') no-repeat 45*@percentage 104*@percentage;
		width:70*@widthPx;
		height:70*@heightPx;
		margin-top: 12*@marginPx;
	}
}

.popover{
	height:270*@heightPx;
}
h3.popover-title{
	font-size:20*@pixel !important;
	line-height:@em+@em/4;
}
.popover-content{
	padding: 3*@em/4 0 3*@em/4 2*@em;
}
.popover-content ul li{
	line-height:@em+3*@em/4;
	font-size:16*@pixel;
}

/* careers */

.careers
{
	 p.info 								
	 {
	 	font-size:18*@pixel;
	 	line-height:1.7; 
	 	padding:2*@paddingEm;
	 }
	 .row-eq-height > div[class*='col-']	
	 {
	 	line-height:2;
	 }
	 .row-eq-height
	 {
	 	a 						
	 	{
	 		font-size:16*@pixel;
	 		padding:@paddingEm/2 @paddingEm;
	 		margin-top:@marginEm;
	 	}
	 	h3 						
	 	{
	 		padding:@paddingEm/2;
	 	}
	 	p
	 	{
	 		font-size:18*@pixel;
	 	}
	 	span 					
	 	{
	 		padding: 25*@paddingPt 0;
	 	}
	 	ul 						
	 	{
	 		padding:5*@paddingPt 10*@paddingPt 5*@paddingPt 15*@paddingPt;
	 		li
	 		{
	 			font-size:18*@pixel;
	 		}
	 	}
	 }
}

div[class*='col-'].pull-right
{
	padding:0;
	a 				
	{
		font-size:16*@pixel;
		padding:@paddingEm/2 @paddingEm;
		margin-top:@marginEm+@marginEm/2;
	}
}

/* Contact Us */

.mapCanvas
{
	height:430*@heightPx;
	border:1*@pixel solid @grey;
}
.footer p{
	line-height:25*@pixel;
}
.copyright{
	margin:30*@marginPx 0;
}

}

@media screen and (max-width:1600*@widthPx) {

.welcome
{
	h3
	{
		width:45*@widthPt !important;
	}
	ul.topNav li:first-child span:after 	
	{
		left:0 !important;
	}
}
ul.empList{
	margin-bottom:31*@marginPt !important;
}
.navbar ul.topNav li:first-child span:after{
	left:1*@pixel !important;
}
.popover 										
{
	.width-percentage(70);
}

}


@media screen and (max-width:1440*@widthPx) 
{

.welcome 
{
	h3
	{
		.width-percentage(40);
	}
	ul.topNav li:first-child span:after
	{
		left:0;
	}
}
ul.empList                  			
{
	margin-bottom:30*@marginPt;
}
.navbar ul.topNav li:first-child span:after 	
{
	left:0;
}
.popover 										
{
	.width-percentage(75);
}

}



@media screen and (max-width:1366*@widthPx) {

.welcome
{
	h3
	{
		.width-percentage(50);
	}
	ul.topNav li:first-child span:after
	{
		left:1*@pixel;
	}
}
ul.empList                  					
{
	margin-bottom:30*@marginPt;
}

.navbar ul.topNav li:first-child span:after 
{
	left:1*@pixel;
}
.popover 										
{
	.width-percentage(75);
}

}

@media screen and (max-width:1280*@widthPx) {

.welcome 
{
	h3
	{
		width:55*@widthPt !important;
	}
	ul.topNav li:first-child span:after
	{
		left:0;
	}
}
ul.empList                  					
{
	margin-bottom:30*@marginPt;
}

.navbar ul.topNav li:first-child span:after 	
{
	left:0;
}
.popover 										
{
	.width-percentage(85);
}
.careers .row-eq-height ul li, .row-eq-height p 
{
	font-size:16*@pixel;
}

}

@media screen and (max-width:1024*@widthPx) {

.welcome h3                 					
{
	width:70*@widthPt !important;
}
.popover 										
{
	.width-percentage(96);
}

}




/* Tablet mediaQuery*/

@media screen and (min-width:768*@widthPx) and (max-width:960*@widthPx) {

/* Home */
.welcome
{ 
	a i:before         			
	{
		font-size:50*@pixel;
	}
	h3                 			
	{
		font-size:30*@pixel;
		line-height:1*@em+7*@em/20;
		.width-percentage(100);
	}
	img.mainLogo       			
	{
		width:35*@widthPt;
	}
	div.row            			
	{
		padding-bottom:7*@paddingEm;
	}
	ul.topNav
	{
		.width-percentage(36);
		top:7*@percentage+@percentage/2;
		right:1*@percentage;
		li
		{
			a
			{
				font-size:20*@pixel
			}
			&:first-child
			{
			 .width-percentage(40);
			 span
			 {
			 	padding:2*@paddingPt+@paddingPt/2 15*@paddingPt;
			 	&:after
			 	{
			 		left:0;
			 		top:30*@pixel;
			 	}
			 }
			}
			&:nth-child(2)
			{
				.width-percentage(20);
			}
			&:last-child
			{
				.width-percentage(20);
			}
		}
	}
}


ul.menu li{
	margin: 0 @em+@em/2;
	a
	{
		font-size:30*@pixel;
	}
}
a.arrowDown{
	bottom:7*@percentage+@percentage/2;
	left:48*@percentage;
}


.navbar
{
	.navbar-collapse.in 
	{
		height:80*@pixel !important;
	}
	.navbar-nav li a 
	{
		font-size:22*@pixel !important;
	}
	.navbar-nav.mid 
	{
		left:0 !important;
	}
	a.navbar-brand 
	{
		padding: 0 0 0 38*@paddingPt !important;
	}
	ul.topNav
	{ 
		width:30*@widthPt !important;
		li
		{	
			&:first-child 
			{
				width: 40*@widthPt !important;
				margin-right:5*@marginPt;
				span:after 
				{
					left:1*@pixel;
					top:33*@pixel !important;
				}
			}
			&:nth-child(2)
			{
				width:15*@widthPt !important;
			}
			&:nth-child(3)
			{
				width:15*@widthPt !important;
			}
		}
	}
}


/* Team */

ul.empList                  			
{
	margin-bottom:45*@marginPt; 
	margin-top:50*@marginPx;
	li               			
	{
		margin:@marginPt+@marginPt/2 @marginPt;
		padding:3*@paddingPx;
		border-radius:4*@pixel;
		img           			
		{
			width:85*@widthPx;
			height:85*@heightPx;
		}
	}
}

.tooltip                        		
{
	font-size:16*@pixel;
}
.tooltip-inner                  		
{
	padding:6*@paddingPx 10*@paddingPx;
}
.tooltip.bottom                 		
{
	margin-top:2*@marginEm+@marginEm/4;
}

.designation-container > div[class*='col-sm-']:first-child,
.designation-container > div[class*='col-sm-']:nth-child(2),
.designation-container > div[class*='col-sm-']:nth-child(3) 	
{
	margin-bottom:37*@marginPt+@marginPt/2;
}

.designation .designation-circle		
{
	margin:9*@marginPx 0 20*@marginPx 0;
	width:100*@widthPx;
	height:100*@heightPx;
}

.sprite-style;
.sprite-hover-style;

.popover                				
{
	.width-percentage(90);
	height:240*@heightPx;
}
h3.popover-title        				
{
	font-size:18*@pixel !important;
	line-height:@em+@em/4;
}
.popover-content        				
{
	padding: 3*@paddingEm/4 0 3*@paddingEm/4 2*@paddingEm;
	ul li  				
	{
		line-height:@em+@em/2;
		font-size:16*@pixel;
	}
}


/* careers */

.careers 
{
	h3 									
	{
		font-size:7*@em/4;
	}
	p.info 								
	{
		font-size:22*@pixel;
		line-height:2;
		padding:2*@paddingEm 0;
	}
	.row-eq-height 						
	{
		a 						
		{
			font-size:16*@pixel;
			padding:@paddingEm/2 @paddingEm;
			margin-top:@marginEm;
		}
		span 					
		{
			padding:40*@paddingPx 0 0 0;
		}
		p 
		{
			font-size:18*@pixel;
		}
		h3
		{
			padding:@paddingEm/2;
		}
		ul 						
		{
			padding:5*@paddingPt 5*@paddingPt 5*@paddingPt 10*@paddingPt;
			li
			{
				font-size:18*@pixel;
			}
		}
	}
	.row-eq-height > div[class*='col-']	
	{
		line-height:2;
	}
	.row-eq-height > div[class*='col-sm-']
	{
		&:first-child
		{
			margin-right:1*@marginEm;
		}
		&:nth-child(2)
		{
			margin-right:1*@marginEm;
		}
		&:nth-child(3)
		{
			margin-right:1*@marginEm;
		}
		&:nth-child(4)
		{
			margin-right:1*@marginEm;
		}
	}
}

div[class*='col-'].pull-right 					
{
	padding:0;
	a 				
	{
		font-size:16*@pixel;
		padding:@paddingEm/2 @paddingEm;
		margin-top:@marginEm+@marginEm/2;
	}
}

/* Contact Us */

.contact-responsive-style;
}


/* Mobile mediaQuery*/

@media only screen and (min-device-width:320*@widthPx) and (max-device-width:480*@widthPx) and (orientation:portrait) {

/* Home */
.welcome
{ 
	a i:before         			
	{
		font-size:28*@pixel;
	}
	h3                 			
	{
		font-size:14*@pixel;
		line-height:2*@em;
		.width-percentage(100);
	}
	img.mainLogo       			
	{
		width:40*@widthPt;
	}
	div.row            			
	{
		padding-bottom:@paddingEm+@paddingEm/2;
		margin-top:2*@marginEm;
	}
	ul.topNav
	{
		.width-percentage(78);
		top:5*@percentage;
		right:12*@percentage;
		li
		{
			a
			{
				font-size:14*@pixel
			}
			&:first-child
			{
			 .width-percentage(33);
			 span
			 {
			 	padding:2*@paddingPt+@paddingPt/2 15*@paddingPt;
			 	&:after
			 	{
			 		left:0;
			 		top:22*@pixel;
			 	}
			 }
			}
			&:nth-child(2)
			{
				.width-percentage(10);
			}
			&:last-child
			{
				.width-percentage(10);
			}
		}
	}
}


ul.menu li{
	margin: 0 @em/2;
	a
	{
		font-size:14*@pixel;
	}
}
a.arrowDown{
	bottom:5*@percentage;
	left:48*@percentage;
}

.navbar.affix{
	z-index:9999;
}
.navbar-nav{
	margin:0;
}
.navbar
{
	a.navbar-brand 					
	{
		padding: 0 0 0 5*@paddingPt;
	}
	ul.topNav 						
	{
		.width-percentage(70);
		margin-left: 12*@marginPt; 
		.positions(static);
		li:first-child span:after 
		{
			left:1*@pixel;
			
		}
	}
	ul.topNav.pull-right 			
	{
		float:left !important;
	}
	.navbar-nav li a 				
	{
		margin:10*@marginPx auto; 
		font-size:14*@pixel;
	}
	.navbar-nav.mid 				
	{
		.positions(inherit);
		left: 0;
	}
}

/* Team */

.team .Vmiddle 							
{
	margin-top:80*@marginPx;
}

ul.empList                  			
{
	margin-bottom:25*@marginPt;
	li               			
	{
		margin:@marginPt+@marginPt/2 7*@marginPt/4 5*@marginPt 7*@marginPt/4;
		padding:3*@paddingPx;
		border-radius:4*@pixel; 
		img           			
		{
			width:65*@widthPx;
			height:65*@heightPx;
		}
	}
}

.tooltip                        		
{
	font-size:13*@pixel;
}
.tooltip-inner                  		
{
	padding:4*@paddingPx 5*@paddingPx;
}
.tooltip.bottom                 		
{
	margin-top:2*@marginEm;
}

.designation 
{
	.designation-circle		
	{
	margin:5*@marginPx 0 200*@marginPx 0;
	width:100*@widthPx;
	height:100*@heightPx;
	}
	&:first-child  
	{
		margin-top:150*@marginPx;
	}
	&:last-child .designation-circle 
	{
		margin-bottom:30*@marginPx;
	}
}

.sprite-style;
.sprite-hover-style;

.popover                				
{
	.width-percentage(55);
	height:175*@heightPx;
}
h3.popover-title        				
{
	font-size:14*@pixel !important;
	line-height:@em+@em/4;
	padding:5*@paddingPx;
}
.popover-content        				
{
	padding: 3*@paddingEm/4 0 3*@paddingEm/4 2*@paddingEm;
}
.popover-content ul li  				
{
	line-height:@em+@em/4;
	font-size:13*@pixel;
}


/* careers */

	.careers 
{
	.Vmiddle
	{
		margin-top:80*@marginPx;
	}
	h3 									
	{
		font-size:18*@pixel;
	}
	p.info 								
	{
		font-size:14*@pixel;
		line-height:1.7; 
		padding:@paddingEm+@paddingEm/2;
	}
	.row-eq-height 
	{
		.display(table);
		h3 						
		{
		padding:@paddingEm/2;
		font-size:14*@pixel;
		}
		ul 						
		{
			padding:5*@paddingPt 5*@paddingPt 5*@paddingPt 10*@paddingPt;
			li
			{
				font-size:14*@pixel;
			}
		}
		p 
		{
			font-size:14*@pixel;
		}
		span
		{
			padding:20*@paddingPt 0;
		}
		a 						
		{
			font-size:14*@pixel;
			padding:@paddingEm/2 @paddingEm;
			margin-top:@marginEm;
		}
	}
	.row-eq-height > div[class*='col-xs-']:last-child 
	{
		border:none; 
		margin-top:0;
		margin-bottom:30*@marginPt;
	}
	.row-eq-height > div[class*='col-']	
	{
		line-height:1.5;
		margin: @marginEm 3*@marginEm/4;
		&:first-child 
		{
			margin-top:0;
		}
	}
}

div[class*='col-'].pull-right 					
{
	padding:0;
	a 				
	{
		font-size:16*@pixel;
		padding:@paddingEm/2 @paddingEm;
		margin-top:@marginEm+@marginEm/2;
	}
}


/* Contact Us */
.contact-responsive-style;

}


@media only screen and (min-device-width:480*@widthPx) and (max-device-width:567*@widthPx) and (orientation:landscape) {

/* Home */

.welcome
{ 
	a i:before         			
	{
		font-size:28*@pixel;
	}
	h3                 			
	{
		font-size:14*@pixel;
		line-height:@em+@em/2;
		.width-percentage(100);
	}
	img.mainLogo       			
	{
		width:17*@widthPt+@widthPt/2;
	}
	div.row            			
	{
		padding:@paddingEm;
	}
	ul.topNav
	{
		.width-percentage(50);
		top:7*@percentage+@percentage/2;
		right:0;
		li
		{
			a
			{
				font-size:14*@pixel
			}
			&:first-child
			{
			 .width-percentage(20);
			 span
			 {
			 	padding:2*@paddingPt+@paddingPt/2 15*@paddingPt;
			 	&:after
			 	{
			 		left:0;
			 		top:21*@pixel;
			 	}
			 }
			}
			&:nth-child(2)
			{
				.width-percentage(15);
			}
			&:last-child
			{
				.width-percentage(15);
			}
		}
	}
}


ul.menu li{
	margin: 0 @em/2;
	a
	{
		font-size:14*@pixel;
	}
}
a.arrowDown{
	bottom:3*@percentage;
	left:48*@percentage;
}

.navbar.affix{
	z-index:9999;
}
.navbar-nav{
	margin:0;
}
.navbar
{
	a.navbar-brand 					
	{
		padding: 0 0 0 5*@paddingPt;
	}
	ul.topNav 						
	{
		.width-percentage(70);
		margin-left: 12*@marginPt; 
		.positions(static);
		li:first-child span:after 
		{
			left:0;
			top:28*@pixel;
		}
	}
	ul.topNav.pull-right 			
	{
		float:left !important;
	}
	.navbar-nav li a 				
	{
		margin:10*@marginPx auto; 
		font-size:14*@pixel;
	}
	.navbar-nav.mid 				
	{
		.positions(inherit);
		left: 0;
	}
}


/* Team */

.team .Vmiddle{
	margin-top:80*@marginPx;
}
ul.empList{
	margin-bottom:15*@marginPt;
	li               			
	{
		margin:@marginPt+@marginPt/2 @marginPt/4 5*@marginPt @marginPt/4;
		border-radius:4*@pixel; 
		img           			
		{
			width:60*@widthPx;
			height:60*@heightPx;
		}
	}
}
.tooltip{
	font-size:14*@pixel;
}
.tooltip-inner{
	padding:4*@paddingPx 5*@paddingPx;
}
.tooltip.bottom{
	margin-top:2*@marginEm;
}
.designation
{
	.designation-circle
	{
		margin:5*@marginPx 0 200*@marginPx 0;
		width:100*@widthPx;
		height:100*@heightPx;
	}
	&:first-child  				
	{
		margin-top:150*@marginPx;
	}
	&:last-child .designation-circle 
	{
		margin-bottom:30*@marginPx;
	}
}
.sprite-style;
.sprite-hover-style;
.popover{
	.width-percentage(96);
	height:180*@heightPx;
}
h3.popover-title{
	font-size:14*@pixel !important;
	line-height:@em+@em/4;
	padding:5*@paddingPx;
}
.popover-content{
	padding: 3*@em/4 0 3*@em/4 2*@em;
}
.popover-content ul li{
	line-height:@em+@em/2;
	font-size:12*@pixel+@pixel/2;
}

/* careers */
	.careers 
{
	.Vmiddle
	{
		margin-top:80*@marginPx;
	}
	h3 									
	{
		font-size:18*@pixel;
	}
	p.info 								
	{
		font-size:13@pixel+@pixel/2;
		line-height:1.7; 
		padding:@paddingEm+@paddingEm/2 0;
	}
	.row-eq-height 
	{
		.display(table);
		h3 						
		{
		padding:@paddingEm/2;
		font-size:16*@pixel;
		}
		ul 						
		{
			padding:5*@paddingPt 5*@paddingPt 5*@paddingPt 10*@paddingPt;
			li
			{
				font-size:14*@pixel;
			}
		}
		p 
		{
			font-size:14*@pixel;
		}
		span
		{
			padding:10*@paddingPt 0;
		}
		a 						
		{
			font-size:14*@pixel;
			padding:@paddingEm/2 @paddingEm;
			margin-top:@marginEm;
		}
	}
	.row-eq-height > div[class*='col-xs-']:last-child 
	{
		border:none; 
		margin-top:12*@marginPt+@marginPt/2;
	}
	.row-eq-height > div[class*='col-']	
	{
		line-height:1.5;
		margin: @marginEm @marginEm+@marginEm/4;
		&:first-child 
		{
			margin-top:0;
		}
	}
}

div[class*='col-'].pull-right 					
{
	padding:0;
	a 				
	{
		font-size:16*@pixel;
		padding:@paddingEm/2 @paddingEm;
		margin-top:@marginEm+@marginEm/2;
	}
}

/* Contact Us */

.contact-responsive-style;

}

@media only screen and (min-device-width:568px) and (max-device-width:767px) and (orientation:portrait) {

/* Home */

.welcome
{ 
	a i:before         			
	{
		font-size:28*@pixel;
	}
	h3                 			
	{
		font-size:16*@pixel;
		line-height:2*@em;
		.width-percentage(100);
	}
	img.mainLogo       			
	{
		width:17*@widthPt+@widthPt/2;
	}
	div.row            			
	{
		padding:@paddingEm+@paddingEm/4;
	}
	ul.topNav
	{
		.width-percentage(50);
		top:7*@percentage+@percentage/2;
		right:0;
		li
		{
			a
			{
				font-size:14*@pixel
			}
			&:first-child
			{
			 .width-percentage(20);
			 span
			 {
			 	padding:2*@paddingPt+@paddingPt/2 15*@paddingPt;
			 	&:after
			 	{
			 		left:0;
			 		top:22*@pixel;
			 	}
			 }
			}
			&:nth-child(2)
			{
				.width-percentage(15);
			}
			&:last-child
			{
				.width-percentage(15);
			}
		}
	}
}


ul.menu li{
	margin: 0 @em/2;
	a
	{
		font-size:16*@pixel;
	}
}
a.arrowDown{
	bottom:3*@percentage;
	left:48*@percentage;
}

.navbar.affix{
	z-index:9999;
}
.navbar-nav{
	margin:0;
}
.navbar
{
	a.navbar-brand 					
	{
		padding: 0 0 0 5*@paddingPt;
	}
	ul.topNav 						
	{
		.width-percentage(70);
		margin-left: 12*@marginPt; 
		.positions(static);
		li:first-child span:after 
		{
			left:1*@pixel;
			top:28*@pixel;
		}
	}
	ul.topNav.pull-right 			
	{
		float:left !important;
	}
	.navbar-nav li a 				
	{
		margin:10*@marginPx auto; 
		font-size:14*@pixel;
	}
	.navbar-nav.mid 				
	{
		.positions(inherit);
		left: 0;
	}
}

/* Team */
.team .Vmiddle{
	margin-top:80*@marginPx;
}
ul.empList{
	margin-bottom:15*@marginPt;
	li               			
	{
		margin:@marginPt+@marginPt/2 @marginPt 5*@marginPt @marginPt;
		border-radius:4*@pixel; 
		padding:3*@paddingPx;
		img           			
		{
			width:65*@widthPx;
			height:65*@heightPx;
		}
	}
}
.tooltip{
	font-size:14*@pixel;
}
.tooltip-inner{
	padding:4*@paddingPx 5*@paddingPx;
}
.tooltip.bottom{
	margin-top:2*@marginEm;
}
.designation
{
	.designation-circle
	{
		margin:5*@marginPx 0 200*@marginPx 0;
		width:100*@widthPx;
		height:100*@heightPx;
	}
	&:first-child  				
	{
		margin-top:150*@marginPx;
	}
	&:last-child .designation-circle 
	{
		margin-bottom:30*@marginPx;
	}
}
.sprite-style;
.sprite-hover-style;

.popover{
	.width-percentage(96);
	height:180*@heightPx;
}
h3.popover-title{
	font-size:14*@pixel !important;
	line-height:@em+@em/4;
	padding:5*@paddingPx;
}
.popover-content{
	padding: 3*@em/4 0 3*@em/4 2*@em;
}
.popover-content ul li{
	line-height:@em+@em/2;
	font-size:12*@pixel+@pixel/2;
}
/* careers */

.career-responsive-style;

/* Contact Us */

.contact-responsive-style;

}

@media only screen and (min-device-width:568*@widthPx) and (max-device-width:767*@widthPx) and (orientation:landscape)  {

/* Home */

.welcome
{ 
	a i:before         			
	{
		font-size:28*@pixel;
	}
	h3                 			
	{
		font-size:16*@pixel;
		line-height:2*@em;
		.width-percentage(100);
	}
	img.mainLogo       			
	{
		width:17*@widthPt+@widthPt/2;
	}
	div.row            			
	{
		padding:@paddingEm+@paddingEm/4;
	}
	ul.topNav
	{
		.width-percentage(50);
		top:7*@percentage+@percentage/2;
		right:0;
		li
		{
			a
			{
				font-size:14*@pixel
			}
			&:first-child
			{
			 .width-percentage(20);
			 span
			 {
			 	padding:2*@paddingPt+@paddingPt/2 15*@paddingPt;
			 	&:after
			 	{
			 		left:0;
			 		top:21*@pixel;
			 	}
			 }
			}
			&:nth-child(2)
			{
				.width-percentage(15);
			}
			&:last-child
			{
				.width-percentage(15);
			}
		}
	}
}


ul.menu li{
	margin: 0 @em/2;
	a
	{
		font-size:16*@pixel;
	}
}
a.arrowDown{
	bottom:3*@percentage;
	left:48*@percentage;
}

.navbar.affix{
	z-index:9999;
}
.navbar-nav{
	margin:0;
}
.navbar
{
	a.navbar-brand 					
	{
		padding: 0 0 0 5*@paddingPt;
	}
	ul.topNav 						
	{
		.width-percentage(70);
		margin-left: 12*@marginPt; 
		.positions(static);
		li:first-child span:after 
		{
			left:0;
			top:28*@pixel;
		}
	}
	ul.topNav.pull-right 			
	{
		float:left !important;
	}
	.navbar-nav li a 				
	{
		margin:10*@marginPx auto; 
		font-size:14*@pixel;
	}
	.navbar-nav.mid 				
	{
		.positions(inherit);
		left: 0;
	}
}

/* Team */

.team .Vmiddle{
	margin-top:80*@marginPx;
}

ul.empList{
	margin-bottom:15*@marginPt;
	li               			
	{
		margin:@marginPt+@marginPt/2 3*@marginPt/4 5*@marginPt 3*@marginPt/4;
		border-radius:4*@pixel; 
		img           			
		{
			width:65*@widthPx;
			height:65*@heightPx;
		}
	}
}


.tooltip{
	font-size:14*@pixel;
}
.tooltip-inner{
	padding:4*@paddingPx 5*@paddingPx;
}
.tooltip.bottom{
	margin-top:2*@marginEm;
}

.designation
{
	.designation-circle
	{
		margin:5*@marginPx 0 200*@marginPx 0;
		width:100*@widthPx;
		height:100*@heightPx;
	}
	&:first-child  				
	{
		margin-top:150*@marginPx;
	}
	&:last-child .designation-circle 
	{
		margin-bottom:30*@marginPx;
	}
}

.sprite-style;
.sprite-hover-style;
.popover{
	.width-percentage(96);
	height:180*@heightPx;
}
h3.popover-title{
	font-size:14*@pixel !important;
	line-height:@em+@em/4;
	padding:5*@paddingPx;
}
.popover-content{
	padding: 3*@em/4 0 3*@em/4 2*@em;
}
.popover-content ul li{
	line-height:@em+@em/2;
	font-size:12*@pixel+@pixel/2;
}

/* careers */

.career-responsive-style;
/* Contact Us */

.contact-responsive-style;

}