@import "variable.less";

.width-percentage(@width)
{
	width:@width*@widthPt;
}
.height-percentage(@height)
{
	height:@height*@heightPt;
}
.colors(@bg-color,@color)
{
	background:@bg-color;
	color:@color;
}