@import "variable.less";
@import "mixins.less";
@import "media-query.less";

html,body {
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
    height: 100* @heightPt;
    
    color:@black;
}
/*
body::-webkit-scrollbar {
  width: 4px;
  height: 0.5em;
  background: #f1f1f1;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: rgba(52, 73, 94, 0.5);
  height: 50px;
}
*/
.clearfix {
    clear: both;
}

.affix {
    top: 50*@pixel;
}

.fixed-container {
    margin-left: 5*@marginPt;
    margin-right: 5*@marginPt;
}

.fixed-container.full {
    margin: 0;
}

.fixed-container .row [class^='col-md-'] {
    margin-bottom: 50*@marginPx;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

a, a:focus,a:active,a img,a img:hover,a img:focus,button:focus,button.btn:focus {
    outline:none;
    cursor:pointer !important;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}

h1 {
    display: inline-block;
    margin: 0 0 30*@marginPx 0;
    font-size: 30*@pixel;
    padding-bottom: 5*@paddingPx;
}
/*
h1:hover {
    border-color: #72a329;
}

hr {
    border-color: #999;
    margin: 10px 0;
}
*/
a {
    color: @green;
}

a:hover {
    color: @orange;
    text-decoration: none;
}

.italic {
    font-style: italic;
}

/*
::selection {
  background: #e97141;
  color: #ffffff;
}
::moz-selection {
  background: #e97141;
  color: #ffffff;
}
::webkit-selection {
  background: #e97141;
  color: #ffffff;
}

*/
.row {
    -webkit-transition: top 400ms;
    -moz-transition: top 400ms;
    -o-transition: top 400ms;
    transition: top 400ms;
}
/* home page style */
.outerWrapper {position:absolute;left:0;display:table;min-height:900*@heightPx;width:100*@widthPt;}
.vMiddle {display:table-cell;vertical-align:middle;}

.welcome ul.topNav {width:18*@widthPt;right:20*@percentage;position:absolute;}
.welcome ul.topNav li {display:inline-table;text-align:center;}
.welcome ul.topNav li a {color:@black;font-size:16*@pixel;}

.welcome ul.topNav li:first-child {.width-percentage(33);}
.welcome ul.topNav li:nth-child(2) {.width-percentage(10);}
.welcome ul.topNav li:last-child {.width-percentage(10);}
.welcome ul.topNav li a:hover {color:@green;}
.welcome ul.topNav li:first-child span {
	position: relative;
	text-align: center; 
	background:@bg-grey; 
	width:100*@widthPt;
	padding:2*@paddingPt+@paddingPt/2 15*@paddingPt;
	color:@white; 
	border-radius: 4*@pixel;
}
.welcome ul.topNav li:first-child span:after {
	content:'';
	position:absolute;
	width:0;
	height:0;
	left:1*@pixel;
	top:24*@pixel;
	border:6*@pixel solid;
	border-color:@grey transparent transparent @grey;
	}
.welcome ul.topNav li:first-child a:hover span {
	background:@bg-green;
}
.welcome ul.topNav li:first-child a:hover span:after {
	border-color: @green transparent transparent @green;
}

ul.menu {
	width:50*@widthPt; 
	margin:0 auto;
}
ul.menu li {
	display:inline-table;
	width:33*@widthPt;
	text-align:center;
}
ul.menu li a {
	color:@black; 
	font-size: 18*@pixel;
}

ul.menu li a:hover {
	color:@green;
}
ul.menu li a:hover span {
	color:@red;
}

.welcome div.row {padding-bottom:3*@paddingEm;}
.welcome a i:before {color:@black;}
.welcome a i:hover:before {color:@green;}

.home h3 {
	line-height: 3*@em; 
	color:@black;
}
.home h3 a {color:@green;}
.home h3 a:hover {text-decoration:none;}

.welcome .scroll-down i {
    display: block;
    font-size: 40*@pixel;
    font-weight: normal;
    margin-top: 20*@marginPx;
    color: rgba(255,255,255,.9);
}

.welcome span.logo.glyphicon-leaf {
    padding-top: 20*@paddingPx;
    font-size: 44*@pixel;
}

/*home page style end*/


/*team page style*/

ul.empList {
	width:100*@widthPt; 
	margin:0 auto;
}
ul.empList li {
	display:inline-block;
	text-align:center;
	margin:@marginPt+@marginPt/2;
	padding:3*@paddingPx;
	background:@bg-white; 
	border-radius: 4*@pixel; 
}
ul.empList li:hover {
	background:@bg-green;
	opacity: 0.8;
}
ul.empList li img {
	width:60*@widthPx;
	height:60*@widthPt;
}

.tooltip {font-size: 15*@pixel; }
.tooltip-inner {
	background:@bg-green;
	padding: 6*@paddingPx 10*@paddingPx;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color:@green;
}

.popover {
	border-radius: 0; 
	border:2*@pixel solid @grey;
	padding:0;
	width: 70*@widthPt;
}
h3.popover-title {
	border-radius: 0;
	background:@bg-grey;
	color:@white !important; 
	font-size: 16*@pixel !important;
}

.circle img {
	border-radius: 50*@percentage; 
	width:80*@widthPx;
	height:80*@widthPx;
}

.tooltip.top {
    margin-top: -5*@marginPx;
}

#services .tooltip.top {
    margin-top: 10*@marginPx;
}

.btn {
    position: relative;
    font-size: 14*@pixel;
    line-height: 20*@pixel;
    padding: 10*@paddingPx;
    margin: 0 10*@marginPx 10*@marginPx 10*@marginPx;
    text-shadow: none;
    box-shadow: none;
    background: none;
    border: 2*@pixel solid rgba(255,255,255,.6);
    color: rgba(255,255,255,.8);
    background-color: transparent;
    -webkit-border-radius: 6*@pixel;
    -moz-border-radius: 6*@pixel;
    border-radius: 6*@pixel;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn:hover {
    border-color: @white;
    color: @white;
}

.btn:active {
    top: 2*@pixel;
}

.btn.active {
    background-color: rgba(0,0,0,.1);
    border-color: @white;
    color: @white;
}

.btn:focus {
    color: @white;
    outline: none;
}

input,textarea,input.form-control,textarea.form-control,input.form-control:focus,textarea.form-control:focus {
    outline: none;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-color: @grey;
}

form .btn {
    margin-left: 0;
    margin-right: 0;
}

label {
    font-weight: normal;
}

.form-control:focus {
    box-shadow: none;
    border-color: @black-grey;
}

.row .empty[class^='col-md-'] {
    margin-bottom: 0;
}

.modal .wrapper {
    margin: 3*@marginPt auto;
    width: auto;
    max-width: 70*@widthPt;
    max-height: 85*@heightPt;
}

.modal img { .width-percentage(100);
    margin: 0 auto;
    max-height: 100*@heightPt;
    box-shadow: 0 15*@pixel 30*@pixel rgba(0,0,0,.5);
}

.modal h4 {
    margin-top: 10*@marginPx;
    font-size: 14*@pixel;
    text-align: center;
    color: @white;
}

.modal a {
    color: @white;
}

body.modal-open,.modal-open .navbar-fixed-top {
    margin-right: 0;
}


.navbar {
	background-color: @white;
	border: none;
	top: -100*@pixel;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.navbar-header {
	margin: 0;
}
.navbar.affix-top,.navbar.affix {
	position: fixed;
	left: 0;
	right: 0;
	-webkit-transition: .4s;
	transition: .4s;
}
.navbar.affix-top {
	top: -70*@pixel;
}
.navbar.affix {
	top: 0;
}
.navbar span.glyphicon,.navbar i {
	font-size: 13*@pixel;
	margin-right: 15*@marginPx;
}
.navbar i {
	font-size: 15*@pixel;
}
.navbar a.navbar-brand {
	font-size: 30*@pixel;
	line-height: 70*@pixel;
	font-weight: normal;
	color: @green;
	padding: 0 30*@paddingPx 0 0;
	-webkit-transition: .4s;
	transition: .4s;
}
.navbar a.navbar-brand span.glyphicon {
	top: 4*@pixel;
	font-size: 28*@pixel;
}
.navbar a.navbar-brand:hover,.navbar a.navbar-brand:focus {color: @orange;}
.navbar .navbar-toggle {
	outline: none;
	border-color: transparent;
	margin: 20*@marginPx 0 0 0;
	padding: 0;
}
.navbar .navbar-toggle:active,.navbar .navbar-toggle:visited,.navbar .navbar-toggle:focus,.navbar .navbar-toggle:hover {
	background-color: transparent;
}
.navbar .navbar-toggle span.icon-bar {
	background-color: @black-grey;
	height: 3*@heightPx;
	margin: 4*@marginPx 0;}
.navbar .navbar-toggle:hover span.icon-bar {
	background-color: @dark-grey;
}
.navbar .navbar-collapse {
	border-color:@grey;
	max-height: 400*@heightPx;
}
.navbar .navbar-nav.mid  {
	position: absolute;
	left: 37*@percentage;
}
.navbar .navbar-nav li a {
	margin: 20*@marginPx 5*@marginPx;
	color: @black;
	height: 30*@heightPx;
	line-height: 30*@heightPx;
	padding: 0 20*@paddingPx;
	font-weight: 500;
	font-size: 16*@pixel;
	transition: background-color .2s;
	-webkit-transition: background-color .2s;
   &:hover {text-decoration: underline;color:@green;}
   }
.navbar .navbar-nav li.dropdown.open a.dropdown-toggle {background-color: @grey;}
.navbar .navbar-nav ul.dropdown-menu {border-radius: 0;border: 0 solid @black-grey;border-top: 1*@pixel solid @black-grey;}
.navbar .navbar-collapse.in ul.dropdown-menu {
	border-top: none;
	li a:hover {color: @grey;}
}
.navbar .navbar-nav li.active a,.navbar .navbar-nav li.active a:hover {background:none;text-decoration: underline;color:@green;}
.navbar .navbar-nav li.active a span,.navbar .navbar-nav li.active a:hover span {background:none;text-decoration: underline;color:@red;}
.navbar ul.topNav {width:18*@widthPt;right:0;position:absolute;}
.navbar ul.topNav li {display:inline-table;text-align:center;}
.navbar ul.topNav li a {color:@black;font-size:16*@pixel; padding:0;}
.navbar ul.topNav li:first-child {width:33*@widthPt;}
.navbar ul.topNav li:nth-child(2) {width:10*@widthPt;}
.navbar ul.topNav li:last-child {width:10*@widthPt;}
.navbar ul.topNav li a:hover {color:@green;}
.navbar ul.topNav li:first-child span {position: relative;text-align: center; background:@grey; width:100*@widthPt;padding:2*@paddingPt+@paddingPt/2 15*paddingPt;color:@white; border-radius:4*@pixel;}
.navbar ul.topNav li:first-child span:after {content:'';position:absolute;width:0;height:0;left:1*@pixel;top:24*@pixel;border:6*@pixel solid;border-color:@grey transparent transparent @grey;}
.navbar ul.topNav li:first-child a:hover span {background:@bg-green;}
.navbar ul.topNav li:first-child a:hover span:after {border-color: @green transparent transparent @green;}
.navbar ul.topNav li:nth-child(3){line-height: 5;}
.empList a{display:inline-block;height:60*@heightPx;}
	


.section 
{
	position: relative;
	min-height: 100*@heightPt;
	z-index: 1;
	padding-top: 105*@paddingPx;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}
.section.white 
{
	background: none;
	a.btn 
	{
		color: @black-grey;
		border-color:@dark-grey;
		&:hover 
		{
			top: 0;
			color: @grey;
			border-color: @grey;
		}
	}
	a.btn.active 
	{
		color: @orange;
		border-color: @orange;
		box-shadow: none;
		background-color: transparent;
	}
}

.section.welcome {padding-top: 0;}
.section.welcome .content, .section.image .content, .section.welcome .content, .section.white .content {text-align: center;}
img.background {width: auto;min-width: 100*@widthPt;min-height: 100*@heightPt;position: fixed;z-index: -1;}

.section 
{
	.content.affix {width: 90*@widthPt;}
	&:last-child {background-color: @white;}
	h3
	{
		display: block;
		text-align: center;
		font-size: 24*@pixel;
		color: @black;
		line-height: 1*@em+(7*@em/20*@em);
	}
}

.fixed-container.full .content.affix {width: 100*@widthPt;}

.designation ul
{
	li
	{
		padding:0;
		margin:0; 
		list-style:none;
		&:hover + .popover h3{ background: @green;}
		&:hover + .popover { border: solid 2*@pixel @green;}
		a
		{
			display: inline-block; 
			margin:11*@marginPx 0 0 0;
			cursor: pointer; 
			border:1*@pixel solid @green; 
			border-radius:50*@percentage;
			width:70*@widthPx;
			height:70*@heightPx;
		}
	}
	width:100*@widthPt;
	padding:0;
	margin:0; 
	list-style:none;
}


.designation-background {background: @green !important;}
.designation-border {border: solid 2*@pixel @green;}
.designation-span-background {background: @green; z-index: -1; position: relative; !important;}


.designation
{
	&:first-child  
	{
		a 
		{
			background: url('../img/result.png') no-repeat 13*@pixel 10*@pixel;
			.mystyle;
			&:hover 
			{
				background: url('../img/result.png') no-repeat 13*@pixel 10*@pixel;
				.mystyle;
			}
		}
	}
	&:nth-child(2)
	{
		a 
		{ 
			background: url('../img/result.png') no-repeat 13*@pixel -52*@pixel;
			.mystyle;
			&:hover 
			{
				background: url('../img/result.png') no-repeat 13*@pixel -52*@pixel;
				.mystyle;
			}
		}
	}
	&:nth-child(3)
	{
		a  
		{ 
			background: url('../img/result.png') no-repeat 13*@pixel -109*@pixel;
			.mystyle;
			&:hover 
			{
				background: url('../img/result.png') no-repeat 13*@pixel -109*@pixel;
				.mystyle;
			}
		}
	}
	&:nth-child(4) 
	{
		a 
		{ 
			background: url('../img/result.png') no-repeat 13*@pixel -172*@pixel;
			.mystyle;
            &:hover 
			{
				background: url('../img/result.png') no-repeat 13*@pixel -172*@pixel;
				.mystyle;
			}			
		}
	}
    &:last-child
	{
		a 
		{ 
			background: url('../img/result.png') no-repeat 13*@pixel -239*@pixel;
			.mystyle;
			&:hover 
			{
				background: url('../img/result.png') no-repeat 13*@pixel -239*@pixel;
				.mystyle;
			}
		}
	}
}

 


/*team page style ends*/



/* career page style*/
.careers-heading h3
{
	color:@green;
}
.careers-description
{
	font-size:18*@pixel; 
	padding-top:40*@paddingPx;
	padding-bottom:60*@paddingPx;
}
.border 
{
	padding-top:40*@paddingPx;
	line-height:2;
	height:226*@heightPx;
	width:166*@widthPx;
}
.job-perks,.border
{
	border:1*@pixel solid #6bc168;
	border-radius:5*@pixel;
	height:226*@heightPx;
}
.perks-head
{
	font-size:18*@pixel;
}
.perks-head,.read-more, .see-all
{
	background-color: @bg-green;
	color: @white;
	padding: 8*@paddingPx 0px;
	text-align:center;
}
.read-more, .see-all
{
	padding:5*@paddingPx 22*@paddingPx;
	border-radius:3*@pixel;
	font-size:16*@pixel;
}
.see-all
{
	margin-right: 134*@marginPx; 
	float:right;
}
/*career page style ends */




/*contact page style*/
#map_canvas
{
	height:456*@heightPx;
	width:640*@widthPx;
	border:1*@pixel solid @grey;
}	
address
{
	text-align:right;
	font-size: 16*@pixel;
	line-height:1.5;
	span
	{
		font-size:20*@pixel;
	}
}
.hqbox , .hqbox a
{
	border:1*@pixel solid @green;
	width:300*@widthPx;
	background:@green;
	color:@white;
	line-height:2;
}
.hqaddr
{
	margin-bottom:0 !important;
	text-align:right;
}
.hq
{
	margin-top: 45*@marginPx;
	font-size: 40*@pixel;
	border: 1*@pixel solid @green;
	border-radius: 50*@percentage;
	text-align:center;
	color:@green;
}
.footer 
{
	color: @white;
	overflow: hidden;
	position: relative;
	background-color: @dark-grey;
	z-index: 1;
	p
	{
		line-height: 25*@pixel;
		a 
		{
			color: @white;
			&:hover 
			{
				color: @green;
			}
		}
}}
.copyright 
{
	margin: 30*@marginPx 0;
	width: 100*@widthPt;
	text-align: center;
}
/*contact style ends */

