//color
@green:#4db849;
@white:#ffffff;
@black:#000000;
@red:#e74c3c;

//bg-color
@bg-green:#4db849;
@bg-white:#ffffff;
@bg-black:#000;
@bg-red:#e74c3c;

//width
@widthPx: 1px;
@widthPt: 1%;
@widthEm: 1em;

//height
@heightPx: 1px;
@heightPt: 1%;
@heightEm: 1em;

//line-heigh
@line-heightPx:1px;
@line-heightEm:1em;
@line-heightPt:1%;

//padding
@paddingPx: 1px;
@paddingPt: 1%;
@paddingEm:1em;

//margin
@marginPx: 1px;
@marginPt: 1%;
@marginEm:1em;

//1 unit
@pixel: 1px;
@percentage: 1%;
@em:1em;
