//color
@green:#4db849;
@white:#ffffff;
@black:#000000;
@red:#e74c3c;
@scrol-thumb:rgba(52, 73, 94, 0.5);
@light-green:#50b948;
@thick-green:#85ee7d;
@dark-grey:#444;
@grey:#bdc3c7;
@thick-grey:#999;
@light-grey:#ccc;

//bg-color

@scrollbar:#f1f1f1;
@selection:#e97141;


//1 unit
@px: 1px;
@pt: 1%;
@em:1em;

//
@odd:1;
@even:2;