//scss-lint:disable SelectorDepth NestingDepth
.team {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.team-image {

  img {
    height: auto $important;
    max-width: 100%;
  }
}

.card {
  height: 144px $important;
  transition: box-shadow 2s $important;

  &:hover {
    box-shadow: rgba(0, 0, 0, .1) 0 0 10px 3px $important;
  }

}

.team-overlay {
  background-color: $overlay;
  bottom: 7px;
  position: absolute;
  top: 0;
  width: 100%;


}

.team-center {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%)translateY(-50%);
  width: 100%;
  z-index: 20;
}

.team-caption {
  color: $white;
  font-size: 30px;
  letter-spacing: .4px;
  margin-bottom: 50px;
  margin-top: -170px;
  text-transform: uppercase;
  word-spacing: 5px;

}

.life {
  height: 100%;
  padding: 4% 5%;
  width: 100%;
}

.green-color {
  color: $green;
}

.blue-color {
  color: $blue;
}

.life-info-heading {
  color: $grey;
  font-size: $font-18;
  font-weight: 600;
  letter-spacing: .5px;
  margin-bottom: 20px;
}

.life-info {
  color: $grey;
  font-size: $font-16;
  line-height: 28px;
  width: 90%;
}

.group-image {
  width: 100%;
}

.join-us {
  height: 100%;
  padding: 0 5% 5%;
  width: 100%;
}

.join-us-cv {
  margin: 5% auto 0;
  text-align: center;

  p {
    color: $light-grey;
  }
}

.contact-link {
  color: $blue;
  font-size: $font-14;
}

.card-heading {
  font-size: $font-18;
  font-weight: 400;
  padding-bottom: 20px;
}

.card-content {
  padding: 36px !important;
}

.hide-init {
  display: none;
}

//media queries
@media only screen and (max-width: 1000px) {
  .card {
    margin: 30px auto;
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .media-hide {
    display: none;
  }

  .hide-init {
    display: block;
  }

  .team-caption {
    font-size: $font-24;
  }

  .section-subline {
    width: 90%;
  }

 

  .know-us-image {
    margin-top: 30px;
  }

  .contact-section {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .team-caption {
    font-size: 14px;
    letter-spacing: .4px;
    margin-bottom: 15px;
    padding: 9px;
    word-spacing: 3px;
  }

  .team-center {

    .btn {
      font-size: 1rem $important;
      height: 30px $important;
      line-height: 30px $important;
      padding: 0 .5rem $important;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .brand-logo {
    img {
      width: 140px;
    }
  }

  .team-caption {
    margin-top: 0 $important;
  }


  .for-mob {
    .row {
      .col {
        &:nth-child(2n) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .brand-logo {
    img {
      width: 180px;
    }
  }

  .team-caption {
    font-size: 22px;
    margin-bottom: 30px $important;
    margin-top: 0 $important;
    padding: 10px;
  }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer-logo {
    width: 170px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  .footer-logo {
    width: 190px;
  }
}
