//======================= Career Banner ========================//
.career-banner {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  .banner {
    height: 100%;

    img {
      width: 100%;
    }
  }

  .overlay {
    @extend %overlay;
    background-color: $black-2;

    .overlay-content {
      @extend %center-wrapper;
      width: 100%;
      z-index: 10;
    }

    p {
      color: $white;
      font-size: 40px;
    }
  }
}

//======================= Career Banner Ends ========================//

//======================= Life ========================//
.life {
  h3 {
    padding-left: 10px;
  }

  img {
    height: 250px;
  }
}
//======================= Life Ends ========================//
.joinus {
  .card {
    cursor: pointer;

    .card-content {
      padding: 35px;
    }
  }
}
