//======================= Career Banner ========================//
.career-banner {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  .banner {
    height: 100%;

    img {
      width: 100%;
    }
  }

  .overlay {
    @extend %overlay;
    background-color: $black-2;

    .overlay-content {
      @extend %center-wrapper;
      width: 100%;
      z-index: 10;
    }

    p {
      color: $white;
      font-size: 35px;
      font-weight: 400;
      margin: -12% auto 2%;
      width: 44%;
    }
  }

  .btn {
    background-color: $theme-green;
    font-size: 18px;
    font-weight: 400;
  }
}

//======================= Career Banner Ends ========================//

//======================= Life ========================//
.life {
  h3 {
    padding-left: 10px;
  }

  img {
    max-width: 100%;
  }
}

@media only screen and (min-width:601px) and (max-width:992px) {
  .life {
    h3 {
      margin: 10px 0;
      padding-left: 0;
    }

    img {
      height: auto;
      margin-top: 30px;
      width: 100%;
    }
  }
}

@media only screen and (min-width:320px) and (max-width:600px) {
  .life {
    h3 {
      margin: 10px 0;
      padding-left: 0;
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}
//======================= Life Ends ========================//
.joinus {
  .card {
    cursor: pointer;

    .card-content {
      padding: 35px;

      .card-title {
        font-size: 22px;
        margin: 0 -25px;
        padding-bottom: 8px;
      }

      h3 {
        font-size: 19px;
      }
    }
  }
}

@media only screen and (min-width:320px) and (max-width:992px) {
  .joinus {
    .card {
      .card-title {
        font-size: 20px;
      }

      h3 {
        font-size: 18px;
      }
    }
  }
}
