//scss-lint:disable NestingDepth
body,
html {
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
button,
input,
select,
textarea,
table tr td {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

ul li {
  list-style: none;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $active-menu;
  }
}

h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}
p,
ul li,
a,
button,
input,
label,
select,
textarea,
table tr td {
  font-size: 16px;
}

.text-blue {
  color: $theme-blue;
}

.text-green {
  color: $theme-green;
}

.section-wrapper {
  margin: 5% auto;
  width: 85%;

  .wrapper {
    margin: 5% 0 3%;
  }

  .content {
    color: $grey;
    font-size: 16px;
    padding: 5px 10px;
    text-align: justify;
  }

  .footer-note {
    color: darken($theme-green, 10%);
    font-size: 14px;
    padding: 5px 10px;

    a {
      color: $theme-blue;

      &:hover {
        color: $active-menu;
      }
    }
  }
}

.section-header {
  text-align: center;
  text-transform: uppercase;
}

.section-subheader {
  color: $grey;
  margin: 5% auto;
  text-align: center;
  width: 60%;
}

.header-underline {
  border-bottom: 3px solid $theme-green;
  margin: 25px auto;
  width: 50px;
}

@media only screen and (min-width:1367px) {
  .section-wrapper {

    .content {
      font-size: 18px;
    }

    .footer-note {
      font-size: 16px;
    }
  }

  .section-subheader {
    font-size: 18px;
    width: 50%;
  }
}

@media only screen and (min-width:993px) and (max-width:1365px)   {
  .section-wrapper {
    width: 94%;
  }
}

@media only screen and (min-width:601px) and (max-width:992px)   {
  .section-wrapper {
    width: 96%;

    .content {
      font-size: 14px;
      padding: 0 0 5px 5px;
    }

    h3 {
      margin-bottom: 20px;
      padding: 0 0 5px 5px;
    }

    .footer-note {
      font-size: 12px;
      padding: 0 0 5px 5px;
    }
  }

  .section-subheader {
    width: 80% $important;
  }
}


@media only screen and (min-width:320px) and (max-width:600px) {
  .section-wrapper {
    width: 98%;

    .content {
      font-size: 14px;
      padding: 0;
    }

    .footer-note {
      font-size: 12px;
      padding: 10px 0 0;
    }
  }

  .section-subheader {
    margin-bottom: 20px;
    width: 94% $important;
  }
}
