//======================= Contact Banner ========================//
.contact-banner {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;

  .banner {
    height: 100%;

    img {
      width: 100%;
    }
  }

  .overlay {
    @extend %overlay;

    .overlay-content {
      @extend %center-wrapper;
      width: 100%;
      z-index: 10;
    }

    p {
      color: $white;
      font-size: 35px;
      font-weight: 400;
      margin: 0 auto 2%;
      width: 70%;
    }
  }
}
//======================= Contact Banner Ends ========================//

//====================== Conatct =================================//
.contact {
  background-color: $white;
  bottom: 100px;
  height: 570px;
  margin: -6% auto 0;
  position: relative;
  width: 50%;

  .header {
    margin-top: 40px;
    padding-bottom: 20px;
  }

  .form-section {
    padding: 0 30px;

    .btn {
      background-color: $theme-green;
    }

    .file-field {
      margin-bottom: 35px;

      .btn {
        background: transparent $important;
        box-shadow: none;
        color: $black;
        padding: 0;
        text-transform: capitalize;
      }
    }

  }

  .contact-section {
    background-color: $theme-blue;
    height: 570px;

    .header {
      padding-left: 20px;
    }

    .address {
      display: inline-flex;
      margin-bottom: 30px;

      p {
        color: $white;
        font-size: 18px;
      }
    }

    .icon {
      color: $contact-icon;
      font-size: 30px;
      padding: 0 20px 0 15px;
    }

    .info {
      margin-bottom: 30px;

      span {
        vertical-align: middle;
      }

      a {
        color: $white;
        font-size: 18px;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

@media only screen and (min-width:1200px) and (max-width:1365px) {
  .contact {
    width: 65%;
  }
}

@media only screen and (min-width:993px) and (max-width:1199px) {
  .contact {
    width: 70%;
  }
}

@media only screen and (min-width:601px) and (max-width:992px) {
  .contact {
    width: 80%;
  }
}

@media only screen and (min-width:320px) and (max-width:600px) {
  .contact {
    width: 94%;
  }
}
//======================= Contact Ends ========================//
