//scss-lint:disable SelectorDepth NestingDepth

.green-color {
  color: $green $important;
}

.mapbox {
  position: relative;
  width: 100%;
}

.map-image {

  img {
    height: auto $important;
    max-width: 100% $important;
  }
}


.map-center {
  height: 114px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 46%;
  transform: translateX(-50%)translateY(-50%);
  z-index: 20;

  h3 {
    color: $white;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 2px;
  }
}

.map-caption {
  color: $white;
  font-size: 30px;
  letter-spacing: .4px;
  line-height: 38px;
  padding-bottom: 10px;
  text-transform: uppercase;
  word-spacing: 5px;
}

.contact {
  background-color: $white;
  bottom: 100px;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, .3), 4px 6px 8px 0 rgba(0, 0, 0, .1);
  height: 570px;
  margin: auto;
  position: relative;
  width: 60%;
}

.contact-header {
  color: $blue;
  font-size: $font-20;
}

.display {
  display: table;
}

.btn-style {
  display: table-cell;
  padding: 0;
}
.btn-flat {
text-transform: capitalize;
}
.btn-style{
      padding: 0 10px;
}

.contact-info {
  background-color: $blue;
  height: 570px;
  width: 100%;

  header {
    color: $white;
    font-size: $font-18;
    padding: 20px 20px 10px;
    }
}

.info-details {
  margin: 20px 5px;

  i {
    color: $light-white-color;
    font-size: 25px;
    vertical-align: top;
  }

  p {
    color: $light-white-color;
    display: inline-block;
    font-size: $font-16;
    margin: 0 20px;
  }

  a {
    color: $light-white-color;
    display: inline-block;
    font-size: $font-16;
    margin: 0 20px;
}
}

.padding-0 {
  padding: 0 $important;
}

//media queries

@media only screen and (max-width: 900px) {
  .contact {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .info-details {
    p {
      margin: 0 10px;
    }

    a {
      margin: 0 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact-info {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, .3), 4px 6px 8px 0 rgba(0, 0, 0, .1);
    height: 100%;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 600px) {
  .map-caption {
    font-size: 12px $important;
    line-height: 15px $important;
    position: relative $important;
    top: -28px $important;
  }

  .contact {
    bottom: 90px;
    height:
    auto $important;

    .col {
      &:nth-child(2) {

        form {
          padding-bottom: 20px;
        }
      }
    }

    .row {
      margin-bottom: 0;
    }
  }

  .footer-content {
    .row {
      //width: 89% $important;

      .col {
        //text-align: left $important;
      }
    }
  }


  .contact-info {
    color: $white;
    font-size: 20px;
    padding-top: 10px;
  }

  .info-box {
    margin-right: auto;
    width: 239px;

    h5 {
      font-size: 22px;
      padding: 10px;
    }

    .info-details {
      margin: 6px 15px;

      p {
        margin: 0 50px;
        margin-top: -33px;
        width: 151px;
      }
    }
  }
}


@media only screen and (min-width: 601px) and (max-width: 767px) {
  .map-caption {
    font-size: 20px;
    letter-spacing: .4px;
    line-height: 26px;
    padding: 10px;
    position: relative;
    top: -28px;
    word-spacing: 4px;

  }
}

@media only screen and (min-width: 601px) and (max-width: 690px) {
  .info-box {
    h5 {
      font-size: 19px $important;
    }
  }

  .info-details {
    i {
      font-size: 23px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media only screen and (min-width: 691px) {
  .contact-info {
    font-size: 20px;
  }
}

@media only screen and (min-width: 601px) {
  .contact-info {
    color: $white;
    padding-top: 30px;
  }

  .contact-header {
    padding-top: 25px;
    padding-left: 17px;
  }

  form {
    padding: 10px 40px;
    .input-field {
      padding-top: 10px;
    }
  }

  .info-box {
    margin-left: auto;
    margin-right: auto;
    width: 239px;

    h5 {
      font-size: 22px;
      margin-bottom: 15px;
      padding: 10px;
    }

    .info-details {
      margin: 6px 15px 50px 15px;
      width: 230px;

      p {
        margin: 0 50px;
        margin-top: -33px;
        width: 151px;
      }
    }
  }

}

/*@media only screen and (min-width: 430px) and (max-width: 600px) {
.contact{
  .col{

    &:nth-child(1){
  width: 70%;
  background-color: $blue !important;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, .3), 4px 6px 8px 0 rgba(0, 0, 0, .1);
 
  }
  }
}
}8*/