.footer {
  background: $footer-bg;

  a {
    &:hover {
      color: $active-menu $important;
    }
  }

  .footer-img {
    width: 100%;
  }

  .footer-container {
    border-bottom: 2px solid $gray;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px !important;
    padding-bottom: 10px;

    .contact-footer {
      float: right;
      width: 180px;
    }
  }

  .footer-logo {
    img {
      margin-top: 6px;
      max-width: 80%;
    }
  }

  h5 {
    color: $grey;
    font-size: 19px;
    margin-bottom: 8px;
  }

  li {
    height: 25px;
    line-height: 25px;

    a {
      color: $light-grey;
    }

    i {
      margin-right: 5px;
    }
  }
}

.footer-copyright {
  color: $grey;
  padding-bottom: 10px;
  text-align: center;

  p {
    font-size: 13px;
  }

  a {
    color: $theme-blue $important;
    display: inline $important;
    font-size: 14px $important;
  }
}

@media only screen and (min-width:1440px) {
  .footer {
    .footer-logo {
      img {
        margin-top: 0;
        max-width: 65%;
      }
    }
  }
}
