.footer {
  background: $footer-bg;

  .footer-img {
    width: 100%;
  }

  hr {
    border: 1px solid $gray;
    width: 80%;
  }

  .footer-logo {
    img {
      max-width: 80%;
    }
  }
}

.footer-copyright {
  color: $grey;
  padding-bottom: 10px;
  text-align: center;

  p {
    font-size: 13px;
  }

  a {
    color: $theme-blue $important;
    display: inline $important;
    font-size: 14px $important;
  }
}
