//scss-lint:disable NestingDepth SelectorDepth
.navbar {
  background-color: transparent;
  box-shadow: none;
  padding: 0 5%;
  position: fixed;
  width: 100%;
  z-index: 999;

  .color-logo {
    display: none;
  }

  .nav-big {

    li {
      .menu {
        letter-spacing: 1px;
        line-height: 32px;
        margin: 15px;
        padding: 0;

        &:hover {
          border-bottom: 2px solid $red;
          color: $red;
        }
      }

      span {
        font-size: 18px;

        &:hover {
          color: $red;
        }
      }

      &.active {
        a {
          border-bottom: 2px solid $red;
        }
      }
    }
  }

  &.scrolled {
    background-color: $white;
    box-shadow: 0 2px 2px 0 $gray4, 0 1px 5px 0 $gray3, 0 3px 1px -2px $gray5;

    .color-logo {
      display: initial;
    }

    .white-logo {
      display: none;
    }

    .button-collapse {

      i {
        color: $gray;
      }
    }

    li {
      a {
        color: $black;
      }

      &.active {
        a {
          border-bottom: 2px solid $red;
          color: $red;
        }
      }
    }
  }
}

.brand-logo {
  img {
    margin-top: 10px;
    width: 200px;
  }
}


.footer {
  background: $ghost-white;

  .footer-content {
    h4 {
      margin-bottom: 12px;
    }

    a {
      color: $grey;
      display: block;

      &:hover {
        color: $red;
      }
    }
  }

  hr {
    border: 1px solid $gray5;
    width: 80%;
  }
}

.wave-image {
  width: 100%;
}

.footer-link {
  color: $grey;
  display: block;
  line-height: 25px;
}

.footer-logo {
  margin-top: 25px;
  width: 70%;
}

.footer-copyright {
  color: $light-grey;
  font-size: 13px;
  padding: 10px;
  text-align: center;

  a {
    color: $green $important;
    display: inline $important;
    font-size: 15px $important;
  }
}

nav {

  .nav-big {

    a {
      background: transparent $important;

      &:hover {
        background: transparent $important;
      }
    }

    li {

      &.active {
        background: transparent $important;
      }
    }
  }
}

