.navbar {
  background-color: transparent;
  box-shadow: none;
  padding: 0 5%;
  position: fixed;
  width: 100%;
  z-index: 999;

  .color-logo {
    display: none;
  }

  .nav-big {

    li {
      .menu {
        line-height: 32px;
        margin: 15px;
        letter-spacing: 1px;
        padding: 0 $important;

        &:hover {
          color: #f44336 $important;
          border-bottom: 2px solid #f44336;
        }
      }
      span {
        font-size: 18px $important;
        &:hover {
          color: #f44336 $important;
        }
      }
    &.active {
      a {
        color: #f44336 $important;
        border-bottom: 2px solid #f44336;
      }
    }
  }
}

  &.scrolled {
    background-color: $white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

    .color-logo {
      display: initial $important;
    }

    .white-logo {
      display: none;
    }

    .button-collapse {
       i {
      color: gray !important;
    }
  }

    li {
      a {
        color: $black $important;
      }
      &.active {
        a {
          color: #f44336 $important;
          border-bottom: 2px solid #f44336;
        }
      }
    }
  }
}

.brand-logo {
  img {
    margin-top: 10px;
    width: 200px;
  }
}
//===================================== FOOTER =================================//
.footer {
  // background-image: url('../img/waves.png');
  background: #fcfcff;

  .footer-content {
    h4 {
      margin-bottom: 12px;
    }

    a {
      display: block;
      color: $grey;
      &:hover {
        color: #f44336 $important;
      }
    }
  }

  hr {
    border: 1px solid $line;
    width: 80%;
  }
}

.wave-image {
  width: 100%;
}

.footer-link {
  color: $grey;
  display: block;
  line-height: 25px;
}

.footer-logo {
  margin-top: 25px;
  width: 70%;
}

.footer-copyright {
  color: $light-grey;
  font-size: 13px;
  padding: 10px;
  text-align: center;

  a {
    font-size: 15px $important;
    color: $green $important;
    display: inline $important;
  }
}

nav .nav-big a,
nav .nav-big li.active,
nav .nav-big a:hover {
  background: transparent $important;
}
