//======================= Home Banner ========================//
.home-banner {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video {
  width: 100%;
}

.overlay {
  @extend %overlay;
  background-image: url('../img/overlay.png');

  .overlay-content {
    bottom: auto;
    left: 50% $important;
    max-height: calc(100% - 100px);
    position: absolute;
    right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  p {
    color: $white;
    font-size: 40px;
  }

}
//======================= Home Banner Ends ========================//
